.opencps-theme.ux .btn, 
.opencps-theme input[type="button"], 
.dialog-iframe-root-node .btn {
	background: #0090ff;
	border: none;
	color: #fff;
	text-shadow: none;
	font-family: 'Roboto-Medium';
}

/* 
.opencps-theme.ux .success-field:FOCUS {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(82, 168, 236, 0.6) !important;
} 
*/