body.opencps-theme {font-family: 'Roboto-Regular'; font-size: 14px; background-color: #f5f5f5}



.dockbar-messages .header {height: auto !important}



/*---------- Footer ----------*/
footer {height: 228px; background: url(../images/frame_1/bg_footer.png) center center no-repeat; background-size: cover; padding-top: 25px}
footer .footer {display: flex; width: 1170px; margin: auto}
footer .footer > div {float: left; color: #7d91a0}
footer .footer > div > p.title {font-size: 15px; font-family: 'Roboto-Bold'; text-transform: uppercase; color: #0074cd; position: relative; padding: 5px 0; margin-bottom: 20px}
footer .footer > div > p.title:after {content: ""; position: absolute; width: 14px; height: 1px; background-color: #0074cd; left: 0; top: 35px;}
footer .footer .logo {background: url(../images/frame_1/logo_footer.png) 0 0 no-repeat; width: 215px; background-size: 215px 57px; padding-top: 65px}
footer .footer .logo p {margin-bottom: 0; font-size: 13px; color: white; opacity: 0.2}
footer .footer > div > ul {margin: 0}
footer .footer > div > ul li {padding: 5px 0}
footer .footer .danhmuc {margin: 0 75px 0 auto}
footer .footer .huongdan {margin: 0 80px 0 0}
footer .footer .lienhehotro {margin: 0 100px 0 0}
footer .footer .lienhehotro .diachi {padding-left: 25px; background: url(../images/frame_1/icon_diachi.png) 1px 0 no-repeat}
footer .footer .lienhehotro .mail {padding-left: 25px; background: url(../images/frame_1/icon_email.png) 0 0 no-repeat}
footer .footer .lienhehotro .phone {padding-left: 25px; background: url(../images/frame_1/icon_phone.png) 0 0 no-repeat}
footer .footer .lienketwebsite {margin-left: 0}
footer .footer .lienketwebsite .select {width: 230px; height: 36px; overflow: hidden; background: url(../images/frame_1/icon_select_blue.png) no-repeat right; background-position: 205px center}
footer .footer .lienketwebsite select {background: transparent none; color: #7d91a0; -webkit-appearance: none; -moz-appearance: none; outline: none; line-height: 20px; padding: 0 10px; width: 230px; height: 36px; border: 1px solid #0074cd; border-radius: 20px}



/*---------- Main ----------*/
.opencps-theme article {padding: 25px 0 !important}

.opencps-theme #wrapper {background: none transparent; padding: 0}

.head {}
.content {clear: both}

/*--- Home ---*/
.opencps-theme .home_bg {
	position: relative !important;
	width: auto;
}
.opencps-theme .home_bg:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 525px;
	background: url(../images/frame_1/bg_home.png) center center no-repeat;
	margin-top: -25px;
	background-size: cover;
}
.opencps-theme #wrapper #main-content {
	padding: 0;
}

/* Search bar */
.opencps-theme .home_bg #column-1 {
	width: 100%;
	height: 475px;
}
.opencps-theme .home_bg #column-1 .portlet-body {
	position: relative;
	margin-top: 140px;
	height: 195px;
}
.opencps-theme .home_bg #column-1 .portlet-body > h2 {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 42px;
	text-shadow: 2px 2px 10px #000;
	font-family: 'Roboto-Black';
	font-weight: normal;
	color: white;
}
.opencps-theme .home_bg #column-1 .portlet-body > p {
	position: absolute;
	top: 70px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 21px;
	text-shadow: 2px 2px 10px #000;
	color: white;
}
.opencps-theme .home-search {
	position: absolute;
	height: 100px;
	width:560px;
	top: 105px;
	left: 50%;
	transform: translateX(-50%);
}
.opencps-theme .home-search .nav.nav-tabs {
	position: absolute;
	top: 65px;
}
.opencps-theme .home-search .navbar.custom-toolbar {
	position: absolute;
	top:0;
}
.opencps-theme .home-search .nav.nav-tabs {
	border-bottom: 0
}
.opencps-theme .home-search .nav.nav-tabs li a {
	background: #edebec;
	padding: 3px 6px;
	line-height: normal;
	border-radius: 4px;
	font-weight: normal;
	font-size: 12px;
	border: 0;
}
.opencps-theme .home-search .nav.nav-tabs li.active a {
	background-color: rgba(0,0,0,0.4) !important;
	border: 0;
	color: white !important;
}
.opencps-theme .home-search .navbar-inner {
	background: transparent none;
	box-shadow: none;
	border: 0;
	padding: 0;
}
.opencps-theme .home-search .navbar-inner label {
	display: none;
}
.opencps-theme .home-search .input-append input[type="text"].search-query {
	border-radius: 5px 0 0 5px;
	height: 50px;
	width: 500px;
	border-right: 0; 
}
.opencps-theme .home-search .input-append > button.btn {
	text-indent: -9999px;
	position: relative;
	height: 60px;
	background: none #0074cd;
	box-shadow: none;
	border-radius: 0 20px 20px 0 !important;
	text-shadow: none;
	width: 90px;
	color: white;
	border: 1px solid #0074cd;
	margin-left: -3px;
}
.opencps-theme .home-search .input-append > button.btn:before {
	content: "\f002";
	font-family: FontAwesome;
	position: absolute;
	color: white;
	top: 50%;
	left: 50%;
	text-indent: 0;
	transform: translate(-50%, -50%);
	font-size: 26px;
}

/* Sub menu */
.opencps-theme .home_bg #column-2 {
	width: 100%;
	margin: 0;
}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) {
	width: 100%;
	height: 60px;
	box-shadow: 0 0px 6px 0px rgba(0,0,0,0.3);
	margin: 25px 0;
}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul {
	margin: 0 auto;
	width: 1170px;
}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul li {
	float: left;
}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul li a {
	padding: 0 35px;
	line-height: 60px;
	display: block;
}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul li:first-child {font-family: 'Roboto-Bold'; font-size: 17px; text-transform: uppercase; background: url(../images/frame_1//icon_huongdansudung.png) 16px 19px no-repeat; color: #0090ff;}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul li:hover {color: #0090ff}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul li:nth-child(2) {background: url(../images/frame_1/icon_dangky.png) 14px center no-repeat}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul li:nth-child(2):hover {background: url(../images/frame_1/icon_dangky_hover.png) 14px center no-repeat}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul li:nth-child(3) {background: url(../images/frame_1/icon_dangnhap.png) 11px center no-repeat}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul li:nth-child(3):hover {background: url(../images/frame_1/icon_dangnhap_hover.png) 11px center no-repeat}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul li:nth-child(4) {background: url(../images/frame_1/icon_nophosott.png) 9px center no-repeat}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul li:nth-child(4):hover {background: url(../images/frame_1/icon_nophosott_hover.png) 9px center no-repeat}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul li:nth-child(5) {background: url(../images/frame_1/icon_tracuukq.png) 10px center no-repeat}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul li:nth-child(5):hover {background: url(../images/frame_1/icon_tracuukq_hover.png) 10px center no-repeat}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul li:nth-child(6) {background: url(../images/frame_1/icon_canboxulyhs.png) 10px center no-repeat}
.opencps-theme .home_bg #column-2 > div > div:nth-child(1) ul li:nth-child(6):hover {background: url(../images/frame_1/icon_canboxulyhs_hover.png) 10px center no-repeat}

/* VBPQ */
.opencps-theme .home_bg #column-2 > div > div:nth-child(2) {
	width: 1170px;
	margin: auto;
}
.opencps-theme .home_bg #column-2 > div > div:nth-child(2) section header h1 {
	font-family: 'Roboto-Bold';
	font-size: 17px;
	padding-left: 20px;
	background: url(../images/frame_1/icon_vanbanphapluat.png) 0 center no-repeat;
	color: #0090ff;
	margin-bottom: 5px;
	font-weight: normal;
}
.opencps-theme .home_bg #column-2 > div > div:nth-child(2) section .portlet-content {
	padding: 0;
}
.opencps-theme .home_bg #column-2 > div > div:nth-child(2) section .portlet-content ul {
	margin: 0 0 0 20px;
}
.opencps-theme .home_bg #column-2 > div > div:nth-child(2) section .portlet-content ul li {
	float: left;
	width: calc((100% - 100px) / 3);
	margin-right: 50px
}
.opencps-theme .home_bg #column-2 > div > div:nth-child(2) section .portlet-content ul li:last-child {
	margin-right: 0
}
.opencps-theme .home_bg #column-2 > div > div:nth-child(2) section .portlet-content ul li p:first-child {
	font-family: 'Roboto-Medium'
}
.opencps-theme .home_bg #column-2 > div > div:nth-child(2) section .portlet-content ul li p span {
	font-family: 'Roboto-Bold'
}











