/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import url(font_face.css);
@import url(controls.css);
@import url(font-awesome.min.css);

/*vtduy_cmc */
@import url(portlets/portlet_login.css);
@import url(portlets/portlet_register.css);
@import url(portlets/portlet_accountInfo.css);
@import url(portlets/portlet_history.css);
@import url(portlets/portlet_dossier_info.css);
@import url(portlets/portlet_dossier_content.css);
@import url(portlets/portlet_popup.css);


@import url(portlets/portlet_hung_custom.css);
@import url(portlets/binhth.css);

@import url(button-custom.css);

/*end*/

/*----anh huong*/
@import url(portlets/portlet_13_fileinfo.css);
/*end*/


@import url(custom_frame_1.css);
/* @import url(header_style_1.css); */


@import url(input.css);
@import url(nav_toolbar.css);
@import url(searchcontainer.css);
@import url(header.css);
@import url(nav_menu.css);

/* custom css theme ngoai cung*/
.opencps-theme {
	height: initial;
	background-color: #f5f5f5;
}
.portlet-body{
	background-color: #f5f5f5;
}
#main-content{
	margin: 0!important;
}
#hrefFm{
	margin: 0!important;
}
.opencps-theme .fake_textarea {height: 90px; border: 1px solid #acacac; border-radius: 5px; background-color: white; padding: 0 10px; overflow-y: auto;}

.aui .dockbar.navbar-static-top .collapse .nav-account-controls{
	float: right;
}

.opencps-theme.ux body{
	font-family: roboto;
}

/* Overwrite page iterator css */

.opencps-theme.ux .taglib-page-iterator{
	padding: 0 20px;
}


.opencps-theme.ux .taglib-page-iterator .btn{
	background-color: #fff;
	border: 1px solid #ddd;
} 




.opencps-theme.ux .taglib-form-navigator .tabbable-content{
	display: flex;
	/* display: table; */
}

.opencps-theme.ux .taglib-form-navigator ul.form-navigator.well{
	float: none;
	/* display: table-cell;
	vertical-align: top; */
}

.opencps-theme.ux .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list{
	background: transparent none repeat scroll 0 0;
    border: medium none;
}

.opencps-theme.ux .taglib-form-navigator .tabbable-content .form-navigator-content{
	border-left: 1px solid #ddd;
    flex-grow: 1;
   /*display: table-cell;
    vertical-align: top;
    width: 100%; */
}

.opencps-theme.ux .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list .form-navigator-topper{
	display: none;
}

.opencps-theme.ux .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list .nav-header{
	display: none;
}

.opencps-theme.ux .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list > li > a{
	padding: 10px 15px;
}

.alpaca-array-actionbar-action.btn {
	background-color: #ccc !important;
	height: 20px !important;
	width: 30px !important;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alpaca-field-table td {
    border-left: 1px solid #ccc !important;
     border-right: 1px solid #ccc !important;
}

.opencps-theme.ux button[data-toggle="dropdown"]{
	background: white none repeat scroll 0 0 !important;
    border: 1px solid #ececec !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 60px !important;
    text-shadow: none !important;
    width: 125px !important;
    color: #292929;
}
