.opencps-theme.ux header.opencps-header-wrapper {
    background: rgba(0, 0, 0, 0) url("../images/custom/bg_header.png") no-repeat;
    background-size: cover;
}


.opencps-theme.ux header.opencps-header-wrapper.guest {
    height: 123px;
}

.opencps-theme.ux header.opencps-header-wrapper.guest .logo{
	background: rgba(0, 0, 0, 0) url("../images/custom/logo.png") no-repeat scroll left center;
    height: 46px;
    padding: 38px 0;
    width: 411px;
}

.opencps-theme.ux header.opencps-header-wrapper.guest .right-panel {
    display: table;
    float: right;
    padding: 38px 0;
}

/* @media (max-width: 1000px) {
	.opencps-theme.ux header.opencps-header-wrapper.guest .logo {
     	padding: 38px 0;
        width: 246px;
    }
    
    .opencps-theme.ux header.opencps-header-wrapper.guest .right-panel {
	    display: none;
	}
}

@media (max-width: 800px) {
	.opencps-theme.ux header.opencps-header-wrapper.guest .logo {
     	padding: 38px 0;
        width: 246px;
    }
    
    .opencps-theme.ux header.opencps-header-wrapper.guest .right-panel {
	    display: none;
	}
}

@media (max-width: 500px) {
	.opencps-theme.ux header.opencps-header-wrapper.guest .right-panel {
	    display: none;
	}
	.opencps-theme.ux header.opencps-header-wrapper {
	    height: 64px;
	}
    .opencps-theme.ux header.opencps-header-wrapper.guest .logo {
     	padding: 9px 0;
        width: 246px;
    }
} */

.opencps-theme.ux header.opencps-header-wrapper.guest .hotline{
	background: rgba(0, 0, 0, 0) url("../images/custom/icon_hotline.png") no-repeat scroll 0 center;
    color: white;
    display: table-cell;
    height: 46px;
    padding-left: 55px;
    vertical-align: middle;
}

.opencps-theme.ux header.opencps-header-wrapper.guest .hotline > span{
	color: #ff7d23;
    font-family: "Roboto-Bold";
    font-size: 22px;
}


.opencps-theme.ux header.opencps-header-wrapper.guest .signin {
    background: rgba(0, 0, 0, 0) url("../images/custom/icon_signin.png") no-repeat scroll right center;
    border: 0 none;
    color: #fff;
    display: table-cell;
    font-family: "Roboto-Bold";
    height: 36px;
    line-height: 36px;
    padding-left: 65px;
    text-align: center;
    text-indent: -20px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 150px;
}


.opencps-theme.ux header.opencps-header-wrapper.guest .register {
    background: rgba(0, 0, 0, 0) url("../images/custom/icon_register.png") no-repeat scroll center center;
    border: 0 none;
    color: #fff;
    display: table-cell;
    font-family: "Roboto-Bold";
    height: 36px;
    line-height: 36px;
    margin-left: 0;
    text-align: center;
    text-indent: -20px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 150px;
}


.opencps-theme.ux header.opencps-header-wrapper.member {
    height: 70px;
}

.opencps-theme.ux header.opencps-header-wrapper.member .logo{
	background: rgba(0, 0, 0, 0) url("../images/custom/logo_small.png") no-repeat scroll left center;
    float: left;
    height: 46px;
    padding: 12px 0;
    width: 184px;
}

.opencps-theme.ux header.opencps-header-wrapper.member .hotline{
	background: rgba(0, 0, 0, 0) url("../images/custom/icon_hotline.png") no-repeat scroll 0 center/24px 24px;
    color: #fff;
    font-family: "Roboto-Medium";
    font-size: 11px;
    height: 34px;
    line-height: 16px;
    margin-left: 20px;
    padding-left: 34px;
}

.opencps-theme.ux header.opencps-header-wrapper.member .right-panel {
    float: left;
    padding: 18px 0;
}
