/*---------- Header 1 ----------*/
.opencps-theme header.mHeader_1 {background: url(../images/frame_1/bg_header.png) center center no-repeat; background-size: cover; height: 123px}
.opencps-theme header.mHeader_1 .header {height: 123px}
.opencps-theme header.mHeader_1 .header .logo {background: url(../images/frame_1/logo.png) center center no-repeat; width: 411px; height: 46px}
.opencps-theme header.mHeader_1 .header .hotline {background: url(../images/frame_1/phone.png) 0 center no-repeat; height: 46px; padding-left: 55px; color: white; margin: 0 65px 0 auto}
.opencps-theme header.mHeader_1 .header .hotline span {font-family: 'Roboto-Bold'; color: #ff7d23; font-size: 22px}
.opencps-theme header.mHeader_1 .header .btn-dn {width: 150px; height: 36px; background: url(../images/frame_1/bg_dangnhap.png) center center no-repeat; color: white !important; border: 0; text-indent: -20px; font-family: 'Roboto-Bold'; text-transform: uppercase; margin: 0 25px 0 0; text-align: center; line-height: 36px}
.opencps-theme header.mHeader_1 .header .btn-dk {width: 140px; height: 36px; background: url(../images/frame_1/bg_dangky.png) center center no-repeat; color: white !important; border: 0; text-indent: -20px; font-family: 'Roboto-Bold'; text-transform: uppercase; margin-left: 0; text-align: center; line-height: 36px}

/*---------- Menu 1 ----------*/
.opencps-theme nav {height: 50px; background-color: #0acaf4; background-image: url(../images/frame_1/bg_menu.png); color: white; font-family: 'Roboto-Bold'; margin-bottom: 0 !important; text-transform: uppercase; overflow: hidden;}
.opencps-theme nav ul {width: 1170px; margin: auto; height: 50px; overflow: hidden;}
.opencps-theme nav ul > li {float: left;}
.opencps-theme nav ul > li ul {display: none;}
.opencps-theme nav ul > li > a {line-height: 50px; padding: 18px 30px;}
.opencps-theme nav ul > li > a img {display: none;}
.opencps-theme nav ul > li.selected > a, .opencps-theme nav ul > li:hover > a {background-color: #0090ff}

.opencps-theme nav ul > li.ocps-nav {text-transform: none;}



/*---------- Header 2 ----------*/
.opencps-theme header.mHeader_2 {background: url(../images/frame_1/bg_header.png) center center no-repeat; background-size: cover; height: 70px; position: relative;}
.opencps-theme header.mHeader_2 .header {height: 70px; position: relative;}
.opencps-theme header.mHeader_2 .header .logo {background: url(../images/frame_1/logo_2.png) center center no-repeat; width: 184px; height: 46px}
.opencps-theme header.mHeader_2 .header .hotline {background: url(../images/frame_1/phone.png) 0 center no-repeat; height: 34px; padding-left: 34px; color: white; margin-left: 20px; background-size: 24px 24px; font-family: 'Roboto-Medium'; font-size: 11px; line-height: 16px}
.opencps-theme header.mHeader_2 .header .hotline span {color: #ff7d23; font-size: 15px}
.opencps-theme .log-out {position: absolute; bottom: -50px; right: 0; background: url(../images/frame_1/bg_menu_bar.png) 0 center; z-index: 1; height: 50px;}
.opencps-theme .log-out a, .opencps-theme .log-out span {color: white !important; line-height: 50px; padding: 17px 20px; font-family: 'Roboto-Bold';}
.opencps-theme .log-out a:hover, .opencps-theme .log-out span:hover {background-color: #0090ff;}
.opencps-theme .log-out a:before {content: "\f08b"; font-family: FontAwesome; margin-right: 5px;}

/*---------- Menu 2 ----------*/
.opencps-theme .mHeader_2 nav {color: white; font-family: 'Roboto-Bold'; margin-bottom: 0 !important; text-transform: uppercase; font-size: 13px; position: absolute; left: 465px; top: 50%; transform: translateY(-50%); background: none transparent;}
.opencps-theme .mHeader_2 nav ul {width: auto}
.opencps-theme .mHeader_2 nav ul > li {float: left;}
.opencps-theme .mHeader_2 nav ul > li ul {display: none;}
.opencps-theme .mHeader_2 nav ul > li > a {padding: 8px 25px;}
.opencps-theme .mHeader_2 nav ul > li > a img {display: none;}
.opencps-theme .mHeader_2 nav ul > li.selected > a, .opencps-theme .mHeader_2 nav ul > li:hover > a {background-color: #0090ff}