.opencps-theme.ux select {
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	line-height: 20px;
	border: 1px solid #e1e1e1;
	margin-bottom: 0;
	background: white url("../images/custom/nav_toolbar/select_arrow_gray.png") no-repeat scroll right 12px center;
	overflow: hidden;
}

.opencps-theme.ux .input100 {
	min-height: 30px;
	max-width: 100% !important;
	width: 100%;
}

.comboTreeWrapper .comboTreeInputWrapper input.opencps-combotree[readonly] {
    border-radius: 25px;
    padding-left: 25px;
    background: white url("../images/custom/nav_toolbar/select_arrow_gray.png") no-repeat scroll right 12px center;
    width: 100%;
    cursor: pointer;
}