.opencps-theme.ux .opencps-toolbar select {
	border-radius: 20px;
	height: 41px;
	padding: 0 20px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.opencps-theme.ux .opencps-toolbar button {
	border-radius: 20px;
	height: 41px;
}

.opencps-theme.ux .opencps-toolbar input[type="text"] {
	height: 41px;
}

.opencps-theme.ux .opencps-toolbar .navbar-inner {
	background-color: transparent;
	background-image: none;
	border: none;
	box-shadow: none;
	padding-left: 0;
	padding-right: 0;
}

/* .opencps-theme.ux .opencps-toolbar div.search-input.input-keyword{
	display: flex;
} */

.opencps-theme.ux .search-input.input-keyword {position: relative; width: 100%}
.opencps-theme.ux .opencps-toolbar .search-input.input-keyword input[type="text"]{
	border-radius: 20px;
	padding-left: 25px;
	width: 100%;
}
.opencps-theme.ux .search-input.input-keyword button {position: absolute; top: 0; right: 0}

.opencps-theme.ux .opencps-toolbar .search-input.input-keyword button{
	background: #0074cd none repeat scroll 0 0;
    border: 1px solid #0074cd;
    border-radius: 0 20px 20px 0;
    box-shadow: none;
    color: #fff;
    margin-top: 0;
    text-shadow: none;
    float: left;
    width: 56px;
}

  
