.opencps-theme.ux .nav-container {
	background-color: #0acaf4;
	background-image: url("../images/custom/bg_menu.png");
}

.opencps-theme.ux .nav-container nav.top-menu, .opencps-theme.ux .nav-container-small nav.top-menu
	{
	margin-bottom: 0 !important;
	overflow: hidden;
}

.opencps-theme.ux .nav-container nav.top-menu ul li, .opencps-theme.ux .nav-container-small nav.top-menu ul li
	{
	display: inline-block;
}

.opencps-theme.ux .nav-container nav.top-menu ul li a, .opencps-theme.ux .nav-container-small nav.top-menu ul li a
	{
	color: #fff;
	font-family: roboto-bold;
}

.opencps-theme.ux .nav-container nav.top-menu ul li a:hover,
	.opencps-theme.ux .nav-container-small nav.top-menu ul li a:hover {
	background-color: #0090ff;
	text-decoration: none;
}

.opencps-theme.ux .nav-container nav.top-menu ul li a.active,
	.opencps-theme.ux .nav-container-small nav.top-menu ul li a.active {
	background-color: #0090ff;
}

.opencps-theme.ux .nav-container {
	display: block;
	width: 100%;
}

.opencps-theme.ux .nav-container nav {
	/* display: flex;  */
	margin : auto;
	width: 1170px;
	margin: auto;
}

.opencps-theme.ux .nav-container nav.top-menu ul {
	flex-grow: 1;
	margin: auto !important;
	overflow: hidden;
	float: left;
}

.opencps-theme.ux .nav-container nav.top-menu ul>li>a {
	color: #fff;
	line-height: 50px;
	padding: 16px 30px;
}

.opencps-theme.ux nav.top-menu.public ul li a {
	text-transform: uppercase;
}

.opencps-theme.ux nav.top-menu.private ul li a {
	text-transform: none;
}

.opencps-theme.ux .nav-container-small {
	float: right;
	padding: 17px 0;
	text-align: right;
}

.opencps-theme.ux .nav-container-small nav.top-menu {
	margin: auto;
	max-height: 35px;
	max-width: 800px;
	overflow: hidden;
}

.opencps-theme.ux .nav-container-small nav.top-menu>ul {
	display: block;
	height: 35px;
	margin: 0;
	padding: 0;
}

.opencps-theme.ux .nav-container-small nav.top-menu ul li {
	height: 35px;
	margin: 0;
	padding: 0;
}

.opencps-theme.ux .nav-container-small nav.top-menu ul>li>a {
	color: #fff;
	font-size: 12px;
	line-height: 30px;
	margin: auto;
	padding: 10px 15px;
}

.opencps-theme.ux .nav-container nav.top-menu .account-info {
	/* display: block; */
	float: right;
/* 	width: 188px; */
}

/* .opencps-theme.ux .nav-container .account-info .account-name, */
	.opencps-theme.ux .nav-container .account-info .logout {
	color: #fff;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0 15px 0 0;
}

.opencps-theme.ux .nav-container .account-info .account-name{
	color: #fff;
/* 	display: inline-block; */
/* 	height: 50px; */
	line-height: 35px;
	padding: 0 15px 0 0;
/* 	background: url("../images/custom/welcome.png"); */
	border-radius: 12px;
/* 	width: 120px; */
	margin-right:10px;
}

.opencps-theme.ux .nav-container .account-info .account-name.tooltiptext{
	visibility: hidden;
    width: 260px;
    background-color: #1b5de4;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin: 35px 0px 0px -115px;
}

.opencps-theme.ux .nav-container .account-info .account-name:hover.tooltiptext{
	visibility: visible;
	line-height: 35px;
	padding: 0 15px 0 0;
	margin-right:10px;
}

.opencps-theme.ux .nav-container .account-info .account-name:hover img#img2{
	visibility: visible;
}

.opencps-theme.ux .nav-container .account-info .account-name img#img2{
	visibility: hidden;
}

.opencps-theme.ux .nav-container .account-info .account-name .tooltiptext{
	visibility: hidden;
	background-color: #1b5de4;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 6px;
	position: absolute;
	z-index: 1;
	margin: 31px 0 0 -115px;
	line-height: 14px;
	
}

.opencps-theme.ux .nav-container .account-info .account-name:hover .tooltiptext{
	visibility: visible;
}

.opencps-theme.ux .nav-container .account-info .account-name img {
    margin-top: 2px;
}

.opencps-theme.ux .nav-container .account-info .account-name img#img2 {
    visibility: hidden;
	margin: 3px 0 0 -22px;	
}

.opencps-theme.ux .nav-container .account-info .account-name{
	color: #fff;
	display: inline-block;
	line-height: 35px;
	padding: 0 15px 0 0;
	margin-right:10px;
}

.opencps-theme.ux .nav-container .account-info .account-name:hover img#img2{
	visibility: visible;
}

.opencps-theme.ux .nav-container .account-info .account-name img#img2{
	visibility: hidden;
}

.opencps-theme.ux .nav-container .account-info .account-name .tooltiptext{
	visibility: hidden;
	background-color: #1b5de4;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 6px;
	position: absolute;
	z-index: 1;
	margin: 31px 0 0 -115px;
	line-height: 14px;
	
}

.opencps-theme.ux .nav-container .account-info .account-name:hover .tooltiptext{
	visibility: visible;
}

.opencps-theme.ux .nav-container .account-info .account-name img {
    margin-top: 2px;
}

.opencps-theme.ux .nav-container .account-info .account-name img#img2 {
    visibility: hidden;
	margin: 3px 0 0 -22px;	
}

.opencps-theme.ux .nav-container .account-info .logout a {
	color: #fff;
}

.opencps-theme.ux .nav-container .account-info .logout a:before
	{
	content: "\f08b";
	font-family: FontAwesome;
	margin-right: 5px;
}
