
.opencps-theme.ux .opencps-searchcontainer-wrapper {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 10px 0;
}

.opencps-theme.ux .opencps-searchcontainer-wrapper .searchcontainer-content table{
	border-top: none;
	border-right: none;
}

.opencps-theme.ux .opencps-searchcontainer-wrapper .searchcontainer-content table thead {
	display: none;
}


.opencps-theme.ux .opencps-searchcontainer-wrapper .searchcontainer-content table tr.opencps-searchcontainer-row td:first-child {
	/* border-left: 1px solid #e1e1e1; */
}

.opencps-theme.ux .opencps-searchcontainer-wrapper .searchcontainer-content table tr.opencps-searchcontainer-row td {
	background: none #fff;
	border: 0;
	border-top: 1px solid #e1e1e1;
	position: relative;
	padding: 8px 6px;
}

.opencps-theme.ux .opencps-searchcontainer-wrapper .searchcontainer-content table tr.opencps-searchcontainer-row td:after {
	content: "";
	border-right: 1px solid #e1e1e1;
	width: 1px;
	height: calc(100% - 30px);
	position: absolute;
	right: 0;
	top: 15px;
}

.opencps-theme.ux .opencps-searchcontainer-wrapper .searchcontainer-content table tr.opencps-searchcontainer-row td:last-child:after {
	border-right: none;
}

.opencps-theme.ux .opencps-searchcontainer-wrapper .searchcontainer-content table tr.opencps-searchcontainer-row td .row-fluid {
	min-width: 300px;
}

.opencps-theme.ux .opencps-searchcontainer-wrapper .searchcontainer-content table tr.opencps-searchcontainer-row td .bold-label {
	color: #333;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
}


/* Search container style 2  */

.opencps-theme.ux .opencps-searchcontainer-wrapper-width-header {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 10px 0;
}


.opencps-theme.ux .opencps-searchcontainer-wrapper-width-header .searchcontainer-content table tr.opencps-searchcontainer-row td:first-child {
	/* border-left: 1px solid #e1e1e1; */
}

.opencps-theme.ux .opencps-searchcontainer-wrapper-width-header .searchcontainer-content table tr.opencps-searchcontainer-row th {
	background: none #fff;
	border: 0;
	border-top: 1px solid #e1e1e1;
	position: relative;
	padding: 8px 6px;
}

.opencps-theme.ux .opencps-searchcontainer-wrapper-width-header .searchcontainer-content table tr.opencps-searchcontainer-row th:after {
	content: "";
	border-right: 1px solid #e1e1e1;
	width: 1px;
	height: calc(100% - 30px);
	position: absolute;
	right: 0;
	top: 15px;
}

.opencps-theme.ux .opencps-searchcontainer-wrapper-width-header .searchcontainer-content table tr.opencps-searchcontainer-row th:last-child:after {
	border-right: none;
}


.opencps-theme.ux .opencps-searchcontainer-wrapper-width-header .searchcontainer-content table tr.opencps-searchcontainer-row th .bold-label {
	color: #333;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
}

.opencps-theme.ux .opencps-searchcontainer-wrapper-width-header .searchcontainer-content table tr.opencps-searchcontainer-row td {
	background: none #fff;
	border: 0;
	border-top: 1px solid #e1e1e1;
	position: relative;
	padding: 8px 6px;
}

.opencps-theme.ux .opencps-searchcontainer-wrapper-width-header .searchcontainer-content table tr.opencps-searchcontainer-row td:after {
	content: "";
	border-right: 1px solid #e1e1e1;
	width: 1px;
	height: calc(100% - 30px);
	position: absolute;
	right: 0;
	top: 15px;
}

.opencps-theme.ux .opencps-searchcontainer-wrapper-width-header .searchcontainer-content table tr.opencps-searchcontainer-row td:last-child:after {
	border-right: none;
}


.opencps-theme.ux .opencps-searchcontainer-wrapper-width-header .searchcontainer-content table tr.opencps-searchcontainer-row td .bold-label {
	color: #333;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
}


/*SearchContainer Action*/

.opencps-theme.ux .search-container-action{
	border-radius: 20px;
    color: white;
    display: list-item;
    height: 24px;
    margin: 5px 0;
    position: relative;
    text-indent: 20px;
    min-width: 110px;
}

.opencps-theme.ux .search-container-action a{
    color: #fff;
    display: block;
    font-family: roboto-regular;
    height: 32px;
    left: 0px;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 100%;
}

.opencps-theme.ux .search-container-action a:hover{
    text-decoration: none;
}

.opencps-theme.ux .search-container-action img{
	display: none;
}

.opencps-theme.ux .search-container-action.fa{
	padding-top: 8px;
}

.opencps-theme.ux .search-container-action.fa.add{
	background-color: #0090ff;
	@extend .fa-plus;
    vertical-align: middle;
}

.opencps-theme.ux .search-container-action.fa.view{
	background-color: #0090ff;
	@extend .fa-search;
    vertical-align: middle;
}

.opencps-theme.ux .search-container-action.fa.edit{
	background-color: #0090ff;
	@extend .fa-pencil-square-o;
    vertical-align: middle;
}

.opencps-theme.ux .search-container-action.fa.delete{
	background-color: #e61f06;
	@extend .fa-trash-o;
    vertical-align: middle;
}

.opencps-theme.ux .search-container-action.fa.forward{
	background-color: #0090ff;
	@extend .fa-paper-plane;
    vertical-align: middle;
}

.opencps-theme.ux .search-container-action.fa.deactivate{
	background-color: #0090ff;
	@extend .fa-lock;
    vertical-align: middle;
}

.opencps-theme.ux .search-container-action.fa.activate{
	background-color: #0090ff;
	@extend .fa-check-square-o;
    vertical-align: middle;
}


.opencps-theme.ux .search-container-action > a > .taglib-text.hide-accessible {
    clip: auto !important;
	position: absolute !important;
	-webkit-transform: scale(1);
	left: 20px;
	line-height: 30px;
}
