* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body.opencps-theme.ux {
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #444;
	background-color: #f5f5f5;
	min-width: 1200px;
}

body.opencps-theme.ux a, 
body.opencps-theme.ux a:hover, 
body.opencps-theme.ux a:focus {
	color: inherit;
	text-decoration: none;
}

.opencps-theme.ux form {
	margin-bottom: 0;
}

.opencps-theme.ux ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#banner, footer, #content {
	min-width: 1170px;
}

.bold, .bold-label {
	font-family: 'Roboto-Bold';
}

.opencps-theme .alert-info, 
.opencps-theme .alert-error {
	margin: 0 15px;
}

/*----- Status Colors -----*/
.status-color-new {
	color: #00b4ff;
}
.status-color-receiving {
	color: #23b58d;
}
.status-color-waiting {
	color: #a5a313;
}
.status-color-paying {
	color: #ffa400;
}
.status-color-denied {
	color: #ff0000;
}
.status-color-received {
	color: #23b58d;
}
.status-color-processing {
	color: #0078ff;
}
.status-color-canceled {
	color: #ff2300;
}
.status-color-done {
	color: #0030ff;
}
.status-color-archived {
	color: #888;
}
.status-color-system {
	color: #155315;
}
.status-color-error {
	color: #ff0000;
}

/*----- Requires -----*/
.cssRequired:after {
    content: "*";
    color: red;
}
.requiredStyleCSS {
	font-family: 'Roboto-Bold';
	font-style: italic;
}



/*----- Override Default Responsive -----*/

@media (max-width: 979px) {
	body.opencps-theme {
		padding: 0;
	}
	#banner > .container {
		padding: 0 15px;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	#banner > .container {
		width: auto;
		padding: 0 15px;
	}
}


/*

.bottom-line {
	border-bottom: 1px solid #e1e1e1;
}

.top-line {
	border-top: 1px solid #e1e1e1;
}

.font16{
	font-size: 16px;
}

.font18{
	font-size: 18px;
}

.radius8 {
	border-radius: 8px !important
}

.radius20 {
	border-radius: 20px !important;
}

.pd20{
	padding: 20px;
}

.pd_b10{
	padding-bottom: 10px;
}

.pd_b20 {
	padding-bottom: 20px;
}

.pd_t1 {
	padding-top: 1px;
}

.pd_t2 {
	padding-top: 2px;
}

.pd_t3 {
	padding-top: 3px;
}

.pd_t4 {
	padding-top: 4px;
}

.pd_t5 {
	padding-top: 5px;
}

.pd_t20 {
	padding-top: 20px;
}

.pd-r60 {
	padding-right: 60px;
}

.lowercase{
	text-transform: lowercase;
}

.uppercase{
	text-transform: uppercase;
}

.mg-b-20{
	margin-bottom: 20px;
}

.mg-t-20{
	margin-top: 20px;
}

.mg-l-30{
	margin-left: -30px;
} 
.mg-r-30{
	margin-right: -30px;
}

.min-width10{
	min-width: 10px !important;
}

.min-width20{
	min-width: 20px !important;
}

.min-width30{
	min-width: 30px !important;
}

.min-width40{
	min-width: 40px !important;
}

.min-width50{
	min-width: 50px !important;
}

.min-width60{
	min-width: 60px !important;
}

.min-width70{
	min-width: 70px !important;
}

.min-width80{
	min-width: 80px !important;
}

.min-width90{
	min-width: 90px !important;
}

.min-width100{
	min-width: 100px !important;
}

.min-width180{
	min-width: 180px !important;
}

.min-width340{
	min-width: 340px !important;
}


.text-align-left{
	display: block;
	text-align: left;
}

.text-align-right{
	display: block;
	text-align: right;
}

.height30{
	height: 30px;
}

.height35{
	height: 35px;
}

.height40{
	height: 40px;
}

.width10{
	width: 10px;
}

.width20{
	width: 20px;
}

.width30{
	width: 30px;
}

.width40{
	width: 40px;
}

.width50{
	width: 50px;
}

.width60{
	width: 60px;
}

.width70{
	width: 70px;
}

.width80{
	width: 80px;
}

.width90{
	width: 90px;
}

.width100{
	width: 100px;
}

.width180{
	width: 180px;
}

.width340{
	width: 340px;
}

.opencps-theme.ux .button-add {
	width: 108px;
	border-radius: 17px 17px 17px 17px;
	background-color: green;
	height: 30px;
	margin-top: 5px;
}

.opencps-theme.ux .button-del {
	width: 108px;
	border-radius: 17px 17px 17px 17px;
	background-color: #b30e2c;
	height: 30px;
	margin-top: 5px;
}
 */