.ivy/
apps/
build-common-ivy.xml
build-common-osgi-plugin.xml
#build-common-plugin.xml
build-common-plugins-inspector.xml
build-common-plugins.xml
build-common.xml
build.properties
build.khoavd.properties
build.trungnt.properties
build.dunglt.properties
build.Tomorow.properties
build.xml
build.*.properties
ci.properties
common.bnd
copyright.txt
dependencies/
dist/
ext/build.xml
gradle.properties
hooks/build-common-hook.xml
hooks/build.xml
hooks/create.bat
hooks/create.sh
hooks/opencps-hook/.gitignore
hooks/opencps-hook/.project
hooks/opencps-hook/build.xml
hooks/opencps-hook/ivy.xml
hooks/opencps-hook/ivy.xml.MD5
gradle.properties
ivy-settings-publisher.xml
ivy-settings.xml
ivy.xml
ivy.xml.MD5
lib/
misc/
modules/
osgi/
shared/
source-formatter.properties
tools/
webs/
ext/build-common-ext.xml
ext/create.bat
ext/create.sh
hooks/build-common-hook.xml
hooks/create.bat
hooks/create.sh

themes/
.project

hooks/opencps-hook/.classpath
hooks/opencps-hook/.gitignore
hooks/opencps-hook/.settings/
hooks/opencps-hook/.settings/org.eclipse.jdt.core.prefs
hooks/opencps-hook/.settings/org.eclipse.wst.common.component
hooks/opencps-hook/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
hooks/opencps-hook/.settings/org.eclipse.wst.common.project.facet.core.xml
hooks/opencps-hook/docroot/WEB-INF/classes/
portlets/opencps-portlet/.settings/org.eclipse.core.resources.prefs

hooks/opencps-hook/docroot/WEB-INF/classes/content/Language.properties
hooks/opencps-hook/docroot/WEB-INF/classes/content/Language_vi.properties
ext/opencps-ext/
hooks/opencps-hook/docroot/WEB-INF/classes/.gitignore
bin/
build.binhth.properties
build.trungdk.properties
.gitignore
layouttpl/
CONTRIBUTING.markdown
README.markdown
portlets/
