apps/
build-common-ivy.xml
build-common-osgi-plugin.xml
build-common-plugin.xml
build-common-plugins-inspector.xml
build-common-plugins.xml
build-common.xml
build.khoavd.properties
build.properties
build.trungnt.properties
build.xml
ci.properties
common.bnd
copyright.txt
dependencies/
dist/
gradle.properties
ivy-settings-publisher.xml
ivy-settings.xml
ivy.xml
ivy.xml.MD5
lib/
misc/
modules/
osgi/
shared/
source-formatter.properties
tools/
webs/
.ivy/
portlets/convention-portlet/
portlets/opencps-sample-portlet/.tern-project
