.ivy/
apps/
build-common-ivy.xml
build-common-osgi-plugin.xml
#build-common-plugin.xml
build-common-plugins-inspector.xml
build-common-plugins.xml
build-common.xml
build.properties
build.khoavd.properties
build.trungnt.properties
build.dunglt.properties
build.Tomorow.properties
build.xml
build.*.properties
ci.properties
common.bnd
copyright.txt
themes/opencps-theme/.classpath
dependencies/
themes/opencps-theme/.settings/org.eclipse.wst.common.project.facet.core.xml
dist/
ext/build.xml
gradle.properties
hooks/build-common-hook.xml
hooks/build.xml
hooks/create.bat
hooks/create.sh
hooks/opencps-hook/.gitignore
hooks/opencps-hook/.project
hooks/opencps-hook/build.xml
hooks/opencps-hook/ivy.xml
hooks/opencps-hook/ivy.xml.MD5
gradle.properties
ivy-settings-publisher.xml
ivy-settings.xml
ivy.xml
ivy.xml.MD5
layouttpl/
lib/
misc/
modules/
osgi/
portlets/build-common-alloy-portlet.xml
portlets/build-common-plugin.xml
portlets/build-common-portlet.xml
portlets/build.xml
portlets/create.bat
portlets/create.sh
shared/
source-formatter.properties
tools/
webs/
ext/build-common-ext.xml
ext/create.bat
ext/create.sh
hooks/build-common-hook.xml
hooks/create.bat
hooks/create.sh
layouttpl/
portlets/build-common-alloy-portlet.xml
portlets/build-common-portlet.xml
portlets/create.bat
portlets/create.sh
themes/

.project
portlets/opencps-portlet/.project
portlets/opencps-portlet/.classpath
portlets/opencps-portlet/.settings/org.eclipse.wst.common.component
portlets/opencps-portlet/.settings/org.eclipse.jdt.ui.prefs
portlets/opencps-portlet/.tern-project
portlets/opencps-portlet/docroot/WEB-INF/.gitignore
portlets/opencps-portlet/docroot/WEB-INF/classes/
portlets/opencps-portlet/docroot/WEB-INF/service/
portlets/opencps-portlet/docroot/WEB-INF/sql/
portlets/opencps-portlet/docroot/WEB-INF/lib/
portlets/opencps-portlet/docroot/css/.sass-cache/
portlets/opencps-portlet/docroot/WEB-INF/src/META-INF
portlets/opencps-portlet/docroot/WEB-INF/src/service.properties

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/datamgt/model/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/datamgt/model/impl
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/datamgt/service/base/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/datamgt/service/http/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/datamgt/service/persistence/

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/usermgt/model/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/usermgt/model/impl
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/usermgt/service/base/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/usermgt/service/http/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/usermgt/service/persistence/

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/accountmgt/model/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/accountmgt/model/impl
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/accountmgt/service/base/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/accountmgt/service/http/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/accountmgt/service/persistence/

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/servicemgt/model/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/servicemgt/model/impl
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/servicemgt/service/base/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/servicemgt/service/http/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/servicemgt/service/persistence/

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/model/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/model/impl
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/base/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/http/

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/model/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/model/impl
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/base/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/http/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/

hooks/opencps-hook/.classpath
hooks/opencps-hook/.gitignore
hooks/opencps-hook/.settings/
hooks/opencps-hook/.settings/org.eclipse.jdt.core.prefs
hooks/opencps-hook/.settings/org.eclipse.wst.common.component
hooks/opencps-hook/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
hooks/opencps-hook/.settings/org.eclipse.wst.common.project.facet.core.xml
hooks/opencps-hook/docroot/WEB-INF/classes/
portlets/opencps-portlet/.settings/org.eclipse.core.resources.prefs

hooks/opencps-hook/docroot/WEB-INF/classes/content/Language.properties
hooks/opencps-hook/docroot/WEB-INF/classes/content/Language_vi.properties

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/servicemgt/service/base/

portlets/opencps-portlet/docroot/WEB-INF/src/META-INF/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/accountmgt/model/

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/usermgt/model/impl/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/usermgt/service/base/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/usermgt/service/http/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/usermgt/service/persistence/EmployeePersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/usermgt/service/persistence/JobPosPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/usermgt/service/persistence/WorkingUnitPersistenceImpl.java


portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/accountmgt/service/base/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/accountmgt/service/http/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/accountmgt/service/persistence/BusinessAccountPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/accountmgt/service/persistence/BusinessDomainPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/accountmgt/service/persistence/BusinessPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/accountmgt/service/persistence/CitizenPersistenceImpl.java

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/base/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/http/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/model/impl/

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/persistence/DossierPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/persistence/DossierFilePersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/persistence/DossierLogPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/persistence/DossierStatusPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/persistence/FileGroupPersistenceImpl.java
ext/opencps-ext/
portlets/opencps-portlet/.externalToolBuilders/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/model/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/base/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/http/
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/ActionHistoryPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/ProcessOrderPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/ProcessStepDossierPartPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/ProcessStepPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/ProcessWorkflowPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/ServiceProcessPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/StepAllowancePersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/WorkflowOutputPersistenceImpl.java

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/persistence/DossierPartPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/persistence/ServiceConfigPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/persistence/DossierTemplatePersistenceImpl.java

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/persistence/DossierPartPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/persistence/DossierTemplatePersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/service/persistence/ServiceConfigPersistenceImpl.java
portlets/opencps-portlet/.settings/org.eclipse.core.resources.prefs

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/ActionHistoryPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/ProcessOrderPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/ProcessStepDossierPartPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/ProcessStepPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/ProcessWorkflowPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/ServiceProcessPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/StepAllowancePersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/persistence/WorkflowOutputPersistenceImpl.java

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/model/impl
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/base
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/http


hooks/opencps-hook/docroot/WEB-INF/classes/.gitignore

portlets/opencps-sample-portlet/

portlets/opencps-portlet/docroot/WEB-INF/tld/.gitignore

portlets/LiferayBulkMailSender-portlet/
portlets/opencps-portlet/.externalToolBuilders/

portlets/message-portlet/

portlets/LiferayBulkMailSender-portlet/

portlets/opencps-portlet/.settings/org.eclipse.wst.validation.prefs

portlets/opencps-portlet/.settings/org.eclipse.core.resources.prefs

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/paymentmgt/service/base
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/paymentmgt/service/http
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/paymentmgt/service/persistence/PaymentConfigPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/paymentmgt/service/persistence/PaymentFilePersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/paymentmgt/service/persistence/PaymentGateConfigPersistenceImpl.java

portlets/opencps-portlet/.settings/*
portlets/opencps-portlet/docroot/WEB-INF/tld/c.tld

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/paymentmgt/model/impl/*
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/model/*
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/base/*
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/service/http/*

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/paymentmgt/model/

portlets/opencps-portlet/docroot/WEB-INF/lib/aopalliance-repackaged-2.4.0-b34.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/asm-debug-all-5.0.4.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/com.fasterxml.jackson.annotations.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/com.fasterxml.jackson.core.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/com.fasterxml.jackson.databind.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/com.lowagie.text-2.1.7.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/fontbox-1.8.10.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/hk2-api-2.4.0-b34.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/hk2-locator-2.4.0-b34.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/hk2-utils-2.4.0-b34.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/itextpdf-5.5.9.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/jasperreports-6.2.2.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/jasperreports-fonts-6.2.2.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/jasperreports-functions-6.2.2.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/jasperreports-javaflow-6.2.2.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/java-json.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/javassist-3.18.1-GA.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/javax.annotation-api-1.2.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/javax.inject-2.4.0-b34.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/javax.servlet-api-3.0.1.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/javax.ws.rs-api-2.0.1.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/jaxb-api-2.2.7.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/opencps-pki-1.0.1.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/org.osgi.core-4.2.0.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/osgi-resource-locator-1.0.1.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/pdfbox-1.8.10.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/persistence-api-1.0.jar
portlets/opencps-portlet/docroot/WEB-INF/lib/validation-api-1.1.0.Final.jar
bin/
portlets/opencps-portlet/.classpath
portlets/LiferayJSONWebservices-portlet.rar
portlets/LiferayJSONWebservices-portlet/

portlets/opencps-portlet/*.log
build.binhth.properties
build.trungdk.properties
.gitignore

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/api/model/impl/ApiServiceBaseImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/api/model/impl/ApiServiceCacheModel.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/api/model/impl/ApiServiceModelImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/api/service/base/ApiServiceLocalServiceBaseImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/api/service/base/ApiServiceLocalServiceClpInvoker.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/api/service/base/ApiServiceServiceBaseImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/api/service/base/ApiServiceServiceClpInvoker.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/api/service/http/ApiServiceServiceSoap.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/api/service/persistence/ApiServicePersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/api/service/persistence/ApiServicePersistenceImpl.java 
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/api/model/impl/ApiServiceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/api/model/impl/
themes/opencps-ux-theme/docroot/WEB-INF/liferay-look-and-feel.xml
portlets/opencps-portlet/ivy.xml.MD5
portlets/opencps-portlet/docroot/WEB-INF/lib/jasperreports-fonts-6.2.2.jar
CONTRIBUTING.markdown
README.markdown

portlets/portal-vbpq-portlet/
portlets/opencps-portlet/ivy.xml.MD5
portlets/opencps-portlet/docroot/WEB-INF/lib/jasperreports-fonts-6.2.2.jar
portlets/StudentLiferayMVC-portlet/
portlets/vidu-portlet/

portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/holidayconfig/model/impl/*
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/holidayconfig/service/base/*
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/holidayconfig/service/persistence/HolidayConfigExtendPersistenceImpl.java
portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/holidayconfig/service/persistence/HolidayConfigPersistenceImpl.java

