language: java
sudo: required

jdk:
  - oraclejdk7

#service:
#  - mysql

cache:
  directories:
    - liferay

before_install: 
  - wget --progress=bar:force 'http://downloads.sourceforge.net/project/lportal/Liferay%20Portal/6.2.5%20GA6/liferay-portal-tomcat-6.2-ce-ga6-20160112152609836.zip' -O liferay.zip
  - unzip -o -q liferay.zip -d ../
  - mv ../liferay-portal-6.2-ce-ga6 ../bundles
  - export LIFERAY_HOME=../bundles
  - ls -lht $LIFERAY_HOME/*
  - chmod +x ../bundles/tomcat-7.0.62/bin/*

# Get the SDK and unpack it
  - wget --progress=bar:force 'http://downloads.sourceforge.net/project/lportal/Liferay%20Portal/6.2.5%20GA6/liferay-plugins-sdk-6.2-ce-ga6-20160112152609836.zip' -O liferay-plugins-sdk.zip
  - unzip -o -q liferay-plugins-sdk.zip -d liferay-plugins
  - cp build.travis.properties liferay-plugins/liferay-plugins-sdk-6.2

# Copy SDK folder content to OpenCPS code base
  - cp -r liferay-plugins/liferay-plugins-sdk-6.2/* .
  - sed -i '341d' build.properties
  - sed -i '341i ivy.jar.url=https://repository.liferay.com/nexus/content/repositories/liferay-public-snapshots/com/liferay/org.apache.ivy/${ivy.version}/org.apache.ivy-${ivy.version}.jar' build.properties

# install deps for building
#  - wget --no-check-certificate https://www.dropbox.com/s/ya1alwnyrl3nabz/warlib.tar.gz
#  - tar zxvf warlib.tar.gz
  - wget --no-check-certificate --progress=bar:force https://www.dropbox.com/s/ya1alwnyrl3nabz/warlib.tar.gz 
  - tar zxf warlib.tar.gz
  - \cp -rf lib/* portlets/opencps-portlet/docroot/WEB-INF/lib/
  - wget --no-check-certificate -q https://www.dropbox.com/s/scbtu14kz51jvet/build-common-plugin.xml
  - wget --no-check-certificate https://www.dropbox.com/s/290n49dhjnbkbc2/portal-service.jar -P $LIFERAY_HOME/tomcat-7.0.62/lib/ext
  - sed -i -e "s/ant.build.javac.source=1.6/ant.build.javac.source=1.7/" build.properties
  - sed -i -e "s/ant.build.javac.target=1.6/ant.build.javac.target=1.7/" build.properties

# Install ECJ
  - sudo apt-get install ecj
  - sudo ln -s /usr/share/java/ecj.jar /usr/share/ant/lib/ecj.jar
  
# Build service
  - cp -rf portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/accountmgt/dao/service.xml portlets/opencps-portlet/docroot/WEB-INF/
  - ant -buildfile portlets/opencps-portlet/build.xml build-service
  - cp -rf portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/datamgt/dao/service.xml portlets/opencps-portlet/docroot/WEB-INF/
  - ant -buildfile portlets/opencps-portlet/build.xml build-service
  - cp -rf portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/processmgt/dao/service.xml portlets/opencps-portlet/docroot/WEB-INF/
  - ant -buildfile portlets/opencps-portlet/build.xml build-service
  - cp -rf portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/paymentmgt/dao/service.xml portlets/opencps-portlet/docroot/WEB-INF/
  - ant -buildfile portlets/opencps-portlet/build.xml build-service
  - cp -rf portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/dossiermgt/dao/service.xml portlets/opencps-portlet/docroot/WEB-INF/
  - ant -buildfile portlets/opencps-portlet/build.xml build-service
  - cp -rf portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/servicemgt/dao/service.xml portlets/opencps-portlet/docroot/WEB-INF/
  - ant -buildfile portlets/opencps-portlet/build.xml build-service
  - cp -rf portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/usermgt/dao/service.xml portlets/opencps-portlet/docroot/WEB-INF/
  - ant -buildfile portlets/opencps-portlet/build.xml build-service

  - rm -rf portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/api/service/base/ApiServiceLocalServiceBaseImpl.java 
  - curl -J --insecure https://drive.fds.vn/index.php/s/qddZPs96FCCWOSA/download -O portlets/opencps-portlet/docroot/WEB-INF/src/org/opencps/api/service/base/

  - ant -buildfile portlets/opencps-portlet/build.xml test-unit
  
notifications:
  email: false
