.opencps-theme.ux .opcs-serviceinfo-list-label {
    overflow: hidden;
    padding-bottom: 10px;
    text-align: center;
    position: absolute;
    top: 10px;
}
.opencps-theme.ux .opcs-serviceinfo-list-label .count {
	margin-bottom: 0;
}
.opencps-theme.ux .file_manage_title, 
.opencps-theme.ux .file_manage_title_new {
    text-transform: uppercase;
    font-family: 'Roboto-Bold';
    font-size: 16px;
    line-height: 25px;
    float: left;
    margin: 10px 30px 0;
}
.opencps-theme.ux .file_manage_title:before {
	content: "\f0f6";
	font-family: FontAwesome;
	color: #0090ff;
	margin-right: 5px;
}
.opencps-theme.ux .file_manage_title_new:before {
	content: "\f0f3";
	font-family: FontAwesome;
	color: #0090ff;
	margin-right: 5px;
}
.opencps-theme.ux .lfr-search-container > .searchcontainer:first-child, 
.opencps-theme.ux .lfr-search-container > .searchcontainer:nth-child(2), 
.opencps-theme.ux .content > .alert-info, 
.opencps-theme.ux .opcs-serviceinfo-list-label + .alert-info {
	margin-top: 47px;
}
.opencps-theme.ux .lfr-pagination-config {
	float: right;
	margin-right: 30px;
}
.opencps-theme.ux .lfr-pagination-delta-selector .btn {
	background-color: transparent;
	color: inherit;
    border: 1px solid #e1e1e1;
}



/*---------- Portlet 20 & 22 ----------*/
.portlet-boundary_20_WAR_opencpsportlet_ .payment-ld:first-of-type {
	margin-bottom: 30px;
}
.portlet-boundary_20_WAR_opencpsportlet_ .navbar .paymentBtnAll {
	margin-top: 0;
	padding: 5px 20px;
}
.portlet-boundary_20_WAR_opencpsportlet_ .navbar .paymentBtnAll:before {
	content: "\f283";
	font-family: FontAwesome;
	margin-right: 5px;
}
.payment-ld .content, 
.payment-ld .overfolow .box50 {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    overflow: hidden;
    position: relative;
}
.payment-ld > .content:first-child {
	padding: 10px 0;
}
.payment-ld table thead, 
.payment-ld .lfr-search-container .payment tr td:last-child {
	display: none;
}
.opencps-theme .payment-ld .button {
	background: #0090ff;
	border: none;
	color: #fff;
	text-shadow: none;
	font-family: 'Roboto-Medium';
	padding: 5px 20px;
	white-space: nowrap;
	border-radius: 20px;
	display: block;
}
.opencps-theme .payment-ld .button:hover, 
.opencps-theme .payment-ld .button:focus {
	color: white;
}
.payment-ld .lfr-search-container table td {
	background: transparent none;
	border: 0;
	border-top: 1px solid #e1e1e1;
	position: relative;
	padding: 10px 15px;
}
.payment-ld .lfr-search-container table td:nth-child(1), 
.payment-ld .lfr-search-container table td:nth-child(4) {
	width: 1%;
	text-align: center;
}
.payment-ld .lfr-search-container table td:nth-child(1) input {
	margin-top: 0;
}
.payment-ld .lfr-search-container table td:nth-child(2) {
	padding-left: 35px;
}
.payment-ld .lfr-search-container table td:after {
	content: "";
	border-right: 1px solid #e1e1e1;
	width: 1px;
	height: calc(100% - 30px);
	position: absolute;
	right: 0;
	top: 15px;
} 
.payment-ld .lfr-search-container table td:nth-last-of-type(2):after {
    border: none;
}
.payment-ld .lfr-search-container table td span {
	font-family: 'Roboto-Bold';
	width: 100px;
    display: inline-block;
}
.payment-ld .lfr-search-container table td p:last-child span:nth-child(2) {
	font-family: 'Roboto-Regular';
	margin-left: 5px;
}
.payment-ld .lfr-search-container table .sotien {
	font-size: 18px;
}
.payment-ld .lfr-search-container table .chitiet, 
.payment-ld .content div a {
    color: #0090ff;
}
/*- Bao nop chuyen khoan -*/
.payment-ld .box100 {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.payment-ld .box50 {
    width: 50%;
    padding: 20px 30px;
}
.payment-ld .box50.text-center {
	border-left: 1px solid #e1e1e1;
}
.payment-ld .box50:not(.text-center) p, 
.payment-ld .box100 > div:not(.box50) p span:first-child {
    font-family: 'Roboto-Bold';
    display: inline-block;
    width: 140px;
    vertical-align: top;
}
.payment-ld .box50:last-child:not(.text-center) p {
    width: 170px;
}
.payment-ld .box50:first-child .over100  p:first-child {
  	width: 100%;
  	margin-bottom: 0;
}
.payment-ld .box50:first-child .over100 p span:last-child {
	width: 70%;
	float: left;
	text-align: justify;
	font-family: 'Roboto-Regular';
}
.payment-ld .over100  p span:first-child {
	float: left;
	width: 140px;
}
.image_placeholder {
    background: url("../../images/custom/image_placeholder.png");
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    margin: 5px 0 25px;
}
.payment-ld .bold, 
.payment-ld  .overfolow .red {
	font-size: 18px;
	font-family: 'Roboto-Bold';
}
.payment-ld .upercase {
	text-transform: uppercase;
	font-size: 16px;
}
.paymentUploadBTN {
	background-color: #f5f5f5;
	border: 1px solid #e1e1e1;
	color: #444;
	font-size: 12px;
	text-transform: uppercase;
	width: 160px;
	padding: 5px 0px;
	border-radius: 20px;
	left: 50%;
	margin-top: 10px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	position: relative;
	font-family: 'Roboto-Bold';
}
.paymentUploadBTN input {
	display: none;
}
.paymentUploadBTN .control-group, 
.paymentUploadBTN label {
	margin-bottom: 0;
}
.opencps-theme .payment-ld .paymentUploadBTN > .input-text-wrapper {
	width: auto;
	margin: 0;
}
/*- Thong tin thanh toan -*/
.payment-ld .content.overfolow {
	display: -webkit-flex;
	display: flex;
	background-color: transparent;
	box-shadow: none;
    -webkit-justify-content: space-between;
	justify-content: space-between;
	border: 0;
}
.payment-ld .overfolow .box50 {
	width: 565px;
	padding: 20px 0;
}
.payment-ld .overfolow .box50 > div {
	padding: 0 30px;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 10px;
}
.payment-ld .overfolow .box50 > div:last-child {
	margin-bottom: 0;
	border-bottom: 0;
}
.payment-ld .overfolow .box50 p, 
.payment-ld .overfolow .over100 p span:first-child {
	width: 160px;
	display: inline-block;
	font-family: 'Roboto-Bold';
}
.payment-ld .overfolow .box50:first-child .over100 p span:last-child {
	width: 67%;
}
.payment-ld .overfolow .red {
	color: #dd3131;
}
/*- Thu phi tien mat -*/
.payment-ld .box100 > div:not(.box50) {
	width: 100%;
	margin-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 30px;
}
.payment-ld .box100 > div:not(.box50):first-child {
    margin-top: 15px;
}
.payment-ld .box100 > div:not(.box50):last-child {
    border-bottom: 0;
}
.payment-ld .box100 > div:not(.box50) p span:nth-child(2) {
    width: 87%;
    display: inline-block;
}
.payment-ld .box100 > div:not(.box50) .input-checkbox-wrapper {
	display: inline-block;
    font-family: 'Roboto-Bold';
}
.payment-ld .box100 > div:not(.box50) button {
    width: 118px;
    height: 30px;
    border-radius: 20px;
    font-family: 'Roboto-Bold';
    float: right;
}
/*- Xac nhan bao nop -*/
.payment-ld .input-radio-wrapper:nth-child(2) {
	margin-left: 30px;
}
.payment-ld .input-radio-wrapper label {
	font-family: 'Roboto-Bold';
}
.payment-ld .input-radio-wrapper label.radio {
	padding-top: 0;
	margin-bottom: 0;
}
.payment-ld div:last-child .input-text-wrapper {
  	width: 740px;
  	display: inline-block;
  	margin: 0px 0 0 30px;
}
.payment-ld div:last-child .input-text-wrapper input {
	margin-bottom: 0;
}
/*- Ket qua thanh toan truc tuyen -*/
.lookup-result {
	background-color: white;
	border-radius: 8px;
	border: 1px solid #e1e1e1;
	padding: 20px 0;
}
.lookup-result table td {
	border: 0;
	padding: 10px 30px 10px 0;
}
.lookup-result table tr {
	border-bottom: 1px solid #e1e1e1;
}
.lookup-result table td:first-child {
	width: 200px;
	font-family: 'Roboto-Bold';
	padding-left: 30px;
	vertical-align: top;
}

/*--- Ma mau cho ho so ---*/
.mamau:before {content: "\f111"; position: absolute; font-family: FontAwesome;}
.moi {color: #00b4ff;}
.tiepnhanhoso {color: #00b3ce;}
.chobosung {color: #a5a313;}
.chothanhtoan {color: #af8400;}
.datuchoi {color: #d46262;}
.datiepnhan {color: #23b58d;}
.dangxuly {color: #0078ff;}
.dahuy {color: #74635b;}
.hoanthanh {color: #37b400;}
.luutru {color: #807da9;}
.hethong {color: #0055b4;}
.loi {color: #e54127;}



/*---------- Portlet 19 ----------*/

/*- Head -*/
.opencps-theme.ux .portlet-boundary_19_WAR_opencpsportlet_ .taglib-header, 
.opencps-theme.ux .portlet-boundary_19_WAR_opencpsportlet_ .toolbar_search_input label {
    display: none;
}
.head {
	overflow: hidden;
}
.head .headh3 {
	float: left;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 0 25px;
}
.head .page-search {
	float: right;
}
.page-search .input-append input.search-query[type="text"] {
    border-radius: 20px 0 0 20px;
    width: 382px;
    border: 1px solid #e1e1e1;
    box-shadow: none;
}
.opencps-theme .page-search .input-append .btn-group button {
    background: white none;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #e1e1e1;
    width: 125px;
    color: #333;
}
.page-search .input-append > button.btn {
    position: relative;
    background: none #0074cd;
    border-radius: 0 20px 20px 0;
    width: 60px;
    margin-left: 0px;
}
.page-search .input-append > button.btn:before {
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    text-indent: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 16px;
}
/*- Content -*/
.detail-left {
	background-color: white;
	border-radius: 8px;
	border: 1px solid #e1e1e1;
	width: 770px;
	float: left;
	padding: 30px 25px;
}
.detail-left h4 {
	margin: 0 0 5px;
	font-family: 'Roboto-Bold';
	font-weight: normal;
	font-size: 18px;
	padding-left: 25px;
}
.detail-left h4:first-child {
	margin-bottom: 20px;
}
.detail-left .matiepnhan {
	background: url("../../images/custom/icon_matiepnhan.png") 0 center no-repeat;
}
.detail-left .thutuc {
	background: url("../../images/custom/icon_thutuc.png") 0 center no-repeat;
}
.detail-left .coquanthuchien {
	background: url("../../images/custom/icon_coquanthuchien.png") 0 center no-repeat;
}
.detail-left .chuhoso {
	background: url("../../images/custom/icon_chuhoso.png") 0 center no-repeat;
}
.detail-left .diachi {
	background: url("../../images/custom/icon_diachi_2.png") 0 center no-repeat;
}
.detail-left .ngaytiepnhan {
	background: url("../../images/custom/icon_ngaythang.png") 0 center no-repeat;
}
.detail-left .ngayhentra {
	background: url("../../images/custom/icon_ngaythang.png") 0 center no-repeat;
}
.detail-left .ngayhoanthanh {
	background: url("../../images/custom/icon_ngaythang.png") 0 center no-repeat;
}
.detail-left p {
	margin-bottom: 20px;
}
.detail-left p:last-child {
	margin-bottom: 0px;
}

.detail-right {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    width: 370px;
    float: right;
    padding: 30px 25px
}
.detail-right h4 {
    margin: 0 0 20px;
    font-family: 'Roboto-Bold';
    font-weight: normal;
    font-size: 18px
}
.detail-right .info .date {
    margin-left: -130px;
    position: absolute;
}
.detail-right .info {
    float: right;
    width: calc(100% - 116px);
    padding-left: 20px;
    border-left: 1px solid #e1e1e1;
}
.detail-right .date p,
.detail-right .info p {
    margin-bottom: 0
}
.detail-right .date div,
.detail-right .info div {
    margin-bottom: 30px
}
.detail-right .date div:last-child, 
.detail-right .info div:last-child {
    margin-bottom: 0px
}
.detail-right .info p span {
    display: inline-block;
    width: 75px;
    font-family: 'Roboto-Bold';
    position: relative;
}
.detail-right .info div p:first-child span:before {
    content: "\f111";
    position: absolute;
    font-family: FontAwesome;
    margin-left: -26px;
    color: #0f97ff
}


/* 
.search_tools label{
  display: none !important;
}

.payment .table-columns {
    display: none;
}

table.payment tr td:nth-last-of-type(-n+2):after {border-right: 0;}



--- Search File Detail ---

.table.payment tr td:nth-child(2) p span:first-child {
    display: inline-block;
    width: 95px;
}
.table.payment tr td:nth-child(3) p span:first-child {
    display: inline-block;
    width: 105px;
}
.table.payment tr td p span {
    font-family: 'Roboto-Bold';
}
.table.payment tr td span.mamau::before {
    top: 15px;
}

.table.payment tr td a.button{
    width: 132px;
	border: 0px solid #e1e1e1;
	color: white !important;
	border-radius: 20px;
	background: none #0090ff;
	padding: 5px 25px 5px 25px;
	display: block;
	text-align: center;
}

.payment-ld .content .title_box .count {			
    margin-left: auto;																																																																				
    color: #666;
    margin-bottom: 0;
    line-height: 60px;
    text-align: right;
}
.payment-ld .content .title_box .count span {
    font-family: 'Roboto-Bold';
    color: black;
}
.payment-ld .content .title_box {
    border-bottom: 1px solid #ccc;
    height: 61px;
    display: flex;
    align-content: center;
    padding: 0 20px;
}

.opencps-theme .payment.payment_search .input-append input {height: 41px; border-radius: 20px 0 0 20px; padding-left: 25px; border-color: #e1e1e1; min-width: 300px}
.opencps-theme .payment.payment_search .input-append .btn-group button {height: 41px; background: none white; box-shadow: none; border-radius: 0 !important; text-shadow: none; border: 1px solid #e1e1e1; width: 93px}
.opencps-theme .payment.payment_search .input-append > button > i {font-size: 16px}

.payment.payment_search.search_tools select {
    background: transparent none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    line-height: 20px;
    padding: 0 20px;
    width: 265px;
    height: 41px;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
}
.payment.payment_search.search_tools .navbar-inner{
	background: transparent !important;
	border: 0;
	box-shadow: none !important;
    padding: 0;
}

.taglib-page-iterator .lfr-pagination-config{
	float: right !important;
}
.opencps-theme.ux .taglib-page-iterator .btn {
    color: #333 !important;
}
.taglib-search-iterator-page-iterator-top .taglib-page-iterator ul.lfr-pagination-buttons{
  display: none;
}
.taglib-search-iterator-page-iterator-bottom .taglib-page-iterator ul.lfr-pagination-buttons{
  display: block;
}
.taglib-search-iterator-page-iterator-bottom .taglib-page-iterator div.lfr-pagination-config{
  display: none;
}

.opencps-theme.ux .portlet-boundary_19_WAR_opencpsportlet_ .opencps-toolbar .navbar-inner{
  padding-right: 0;
}

.search-container-action.fa.forward.input100 > a{
	width: 100%;
}
ul.sitemap-class.opencps-horizontal {
    list-style-type:none;
	padding:0px;
	margin:0px;
	text-align: center;
}
	
ul.sitemap-class.opencps-horizontal li {
    display: inline-block;
    line-height: 130px;
    padding: 0 0px 15px !important;
}

ul.sitemap-class.opencps-horizontal li > div:hover {
    border-bottom: 10px solid #24a9f0;
}
	


.img-BGTVT-CĐTNĐ1{
	background-image: url("../images/custom/img-BGTVT-CĐTNĐ1-2.png");
	width: 370px;
	height: 130px;
	background-position: center center;
	height: 100%;
	background-size: cover;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.img-BGTVT-CĐTNĐ1:hover {
	background-image: url("../images/custom/img-BGTVT-CĐTNĐ1-1.png");
	background-position: center center;
	background-size: cover;
}
.img-BGTVT-CDS{
	background-image: url("../images/custom/img-BGTVT-CDS-2.png");
	width: 370px;
	height: 130px;
	background-position: center center;
	height: 100%;
	background-size: cover;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.img-BGTVT-CDS:hover {
	background-image: url("../images/custom/img-BGTVT-CDS-1.png");
	background-size: cover;
	background-position: center center;
}
.img-BGTVT-CDK{
	background-image: url("../images/custom/img-BGTVT-CDK-2.png");
	width: 370px;
	height: 130px;
	background-position: center center;
	height: 100%;
	background-size: cover;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.img-BGTVT-CDK:hover {
	background-image: url("../images/custom/img-BGTVT-CDK-1.png");
	background-position: center center;
	background-size: cover;
}
.img-BGTVT-SGTVT{
	background-image: url("../images/custom/img-BGTVT-SGTVT-2.png");
	width: 370px;
	height: 130px;
	background-position: center center;
	height: 100%;
	background-size: cover;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.img-BGTVT-SGTVT:hover {
	background-image: url("../images/custom/img-BGTVT-SGTVT-1.png");
	background-position: center center;
	background-size: cover;
}



.openCPSTree > ul > li > div:before {
    content: "\f054";
    position: absolute;
    font-family: FontAwesome;
    right: 20px;
}
.portlet-boundary_16_WAR_opencpsportlet_ .process-workflow-action button.btn{
	margin: 5px 5px 5px 0px;
}

.empty-message{
	padding-left: 15px;
}

.payment-ld .content .title_box, 
.opencps-searchcontainer-wrapper .content .title_box {
    border-bottom: 1px solid #ccc;
    height: 61px;
    padding: 0 20px;
}
*/