
.ocps-history-bound-navigator{
	margin: 25px auto 0;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    display: flex;
}
.ocps-history-bound-navigator form{
	width: 100%;
	margin-bottom: 0px!important;
}
.ocps-history-bound-navigator .form-navigator-content{
	width: 70%;
    border-right: 1px solid #e1e1e1;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
}

.ocps-history-bound-navigator .ocps-title-detail{
	position: relative;
    margin: 15px 0;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
}
.ocps-history-bound-navigator .ocps-title-detail .service-reception-label{
	width: 20%;
	float: left;
	font-family: 'Roboto-Bold';
    display: inline-block;
}
.ocps-history-bound-navigator .ocps-title-detail p{
	width: 70%;
	display: inline-flex;
}
.ocps-history-bound-navigator .ocps-title-detail .service-name-label{
	width: 20%;
	float: left;
	font-family: 'Roboto-Bold';
    display: inline-block;
}
.ocps-history-bound-navigator .ocps-title-detail p{
	width: 70%;
	display: inline-flex;
}


.ocps-history-bound-navigator .form-navigator{
    width: 30%;
}

.ocps-history-bound-navigator .bound-search-container-history thead{
	display: none;
}
.bound-search-container-history .table-bordered {
	border: 0;
}

.bound-search-container-history .table-bordered .aui .table th, .aui .table td {
    background-color: white!important;
    border-left: 0px solid #ddd;
    border-right: 0px solid #ddd;
}
.bound-search-container-history .table-bordered .aui .table th, .aui .table td .first{
    width: 60%;
}
.bound-search-container-history .table-bordered .aui .table th, .aui .table td .last{
    width: 40%;
}
.ocps-history-bound-navigator .ocps-title-detail {
	border-bottom: 0px solid #e1e1e1;
}
.bound-search-container-history .table-bordered .ocps-searh-bound-data .ocps-searh-bound-data-chirld-p span{
	width: 30%;
	float: left;
	display: inline-block;
    font-family: 'Roboto-Bold';
}
.bound-search-container-history .table-bordered .ocps-searh-bound-data .ocps-searh-bound-data-chirld-p label{
	width: 70%;
}
.ocps-header-history .taglib-header {
	    font-size: 14px;
	    border-bottom-color: whitesmoke;
}

.opencps-theme .ocps-custom-header {
	margin-bottom: 20px;
	position: relative;
}

.opencps-theme .ocps-custom-header .opcps-label {
    font-family: 'Roboto-Bold';
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.opencps-theme .ocps-custom-header .ocps-span {
	font: normal normal normal 14px/1 FontAwesome;
	float: none;
	margin-left: 0;
	line-height: 20px;
	min-height: auto;
}

.ocps-custom-header .ocps-span :BEFORE {
	content: "\f177";
}