.account_info {margin: 25px auto 0; width: 100%; background-color: white; border-radius: 8px; -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2); box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2); padding: 15px 0 0}

.account_info .head {border-bottom: 1px solid #e1e1e1; padding: 0 30px}
.account_info .head p {background: url(../images/custom/icon_thongtintaikhoan_blue.png) 0 center no-repeat; padding-left: 20px; text-transform: uppercase; font-family: 'Roboto-Bold'; font-size: 18px; line-height: 60px; margin-bottom: 0}

.account_info .content {overflow: hidden;}
.account_info .content .left {overflow: hidden; padding: 30px 50px 20px 30px; width: 50%; float: left;}
.account_info .content .right {overflow: hidden; padding: 30px 30px 20px; width: 50%; border-left: 1px solid #ccc; float: right;}
.account_info .content .left > div, .account_info .content .right > div {position: relative; margin-bottom: 20px}
.account_info .content .left > div img {float: left; margin-right: 30px; width: 80px; height: 80px}
.account_info .content .left > div p, .account_info .content .right > div p {font-family: 'Roboto-Bold'; margin-bottom: 0; position: relative;}
.account_info .content .left > div .change_avatar {margin-top: 20px; float: left;}
.account_info .content .left > div .name {text-transform: uppercase; margin: 0 0 5px}
.account_info .content .left > div a, .account_info .content .right > div a {color: #0090ff !important}
.account_info .content .left > div a.fix_avatar {top: 20px !important}
.account_info .content .left > div a.fix, .account_info .content .right > div a.fix {position: absolute; right: 0; padding-left: 20px; background: url(../images/custom/icon_sua.png) 0 center no-repeat; top: 0}
.account_info .content .left > div a.add, .account_info .content .right > div a.add {position: absolute; right: 0; padding-left: 20px; background: url(../images/custom/icon_dangnhap_hover.png) 0 center no-repeat; top: 0}
.account_info .content .left > div p span {display: inline-block; width: 110px; font-family: 'Roboto-Regular'}
.account_info .content .right > div p span {display: inline-block; width: 130px; font-family: 'Roboto-Regular'}

.account_info .content .left > div button, .account_info .content .right > div button {color: white; text-transform: uppercase; background-color: #0090ff; border: 0; border-radius: 20px; padding: 5px 15px; position: absolute; top: -5px; right: 20px}
.account_info .content .left > div a.fixing, .account_info .content .right > div a.fixing {background: none; position: absolute; right: 0; top: 0;}
.account_info .content .left > div p input, .account_info .content .right > div p input {border: 0; box-shadow: none; padding: 0; margin-bottom: 0}
.account_info .content .left > div p input:focus, .account_info .content .right > div p input:focus {outline: 1px solid #0090ff; outline-color: rgba(7,140,244,0.3);}

.account_info.account_company .left > div p span {width: 150px}
.account_info.account_company .right {padding-top: 20px}
.account_info div > p > label {display: inline-table; width: 230px; margin: 0}
.account_info.account_company .left > div > p > label span {padding-left: 20px; background: url(../images/icon_victory.png) 0 center no-repeat; font-family: 'Roboto-Bold'; margin-bottom: 10px}
.account_info.account_company .left > div > p > label span:last-child {margin-bottom: 0}
.account_info .box_scroll {border: 1px solid #e1e1e1; border-radius: 4px; padding: 5px 15px; height: 90px; overflow: auto; position: relative; left: 150px; display: inline-block;}
.account_info .fix_topleft {position: absolute; top: 0; left: 0}