.opencps-accountinfo-wrapper {
    margin: 20px auto 0;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    padding: 15px 0 0;
    overflow: hidden;
}
.opencps-accountinfo-wrapper .header {
	border-bottom: 1px solid #e1e1e1;
	padding: 0 30px
}
.opencps-accountinfo-wrapper .header p {
	background: url("../../images/custom/icon_thongtintaikhoan_blue.png") 0 center no-repeat;
	padding-left: 20px;
	text-transform: uppercase;
	font-family: 'Roboto-Bold';
	font-size: 18px;
	line-height: 60px;
	margin-bottom: 0
}
.opencps-accountinfo-wrapper .content {
	display: -webkit-flex;
	display: flex;
}
.opencps-accountinfo-wrapper .content .left {
	padding: 30px 50px 20px 30px;
	width: 50%;
}
.opencps-accountinfo-wrapper .content .right {
	padding: 30px 30px 20px;
	position: relative;
	width: 50%;
}
.opencps-accountinfo-wrapper .content .right:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	background: #ccc;
}
.opencps-accountinfo-wrapper .content .left > div,
.opencps-accountinfo-wrapper .content .right > div {
	position: relative;
	margin-bottom: 5px
}
.opencps-accountinfo-wrapper .content .span6 {
	font-family: 'Roboto-Bold';
	margin-bottom: 0;
	position: relative;
}
.opencps-theme .opencps-accountinfo-wrapper .content a, 
.opencps-theme .opencps-accountinfo-wrapper .content a:hover {
	color: #0090ff;
}
.opencps-accountinfo-wrapper .content a.fix {
	position: absolute;
	right: 0;
	padding-left: 20px;
	background: url("../../images/custom/icon_edit_blue.png") 0 center no-repeat;
	top: 0;
}
.opencps-accountinfo-wrapper .box_scroll {
	height: auto;
	max-height: 90px;
	overflow: auto;
	margin-bottom: 0;
}
.opencps-accountinfo-wrapper .box_scroll span {
	display: block;
	margin-bottom: 5px;
}
.opencps-theme.ux .opencps-accountinfo-wrapper .content > div p {
    font-family: 'Roboto-Bold';
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
.opencps-theme.ux .opencps-accountinfo-wrapper label {
	font-family: 'Roboto-Regular';
}

/*----- Man hinh sua -----*/
.portlet-boundary_6_WAR_opencpsportlet_ .tab-pane {
	padding: 20px 30px;
}
.portlet-boundary_6_WAR_opencpsportlet_ .opencps-form-navigator-container ul li i {
    vertical-align: baseline;
    height: auto;
    width: 15px;
    margin-right: 5px;
    font-size: 16px;
    text-align: center;
}
.portlet-boundary_6_WAR_opencpsportlet_ .opencps-form-navigator-container ul li:not(.active) i {
	color: #0af;
}
.opencps-form-navigator-container i.general_info:before {
	content: "\f129";
}
.opencps-form-navigator-container i.contact:before {
	content: "\f2b9";
}
.opencps-form-navigator-container i.password:before {
	content: "\f023";
}
.opencps-theme.ux .opencps-form-navigator-container .button-holder {
	text-align: center;
}
.opencps-theme.ux .opencps-form-navigator-container .button-holder button {
	padding: 5px 20px;
	border-radius: 20px;
}
.opencps-theme.ux .button-holder .btn-cancel, 
#_13_WAR_opencpsportlet_cancel, 
#_13_WAR_opencpsportlet_btnCancel {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	color: #666;
}
.opencps-theme .opencps-form-navigator-container input[type="password"] {
	width: 100%;
	height: 30px;
} 
.opencps-theme.ux .opencps-form-navigator-container .button-holder .btn-cancel:before {
	content: "\f0e2";
	font-family: FontAwesome;
}
.opencps-theme.ux .opencps-form-navigator-container .button-holder .btn-primary:before {
	content: "\f0c7";
	font-family: FontAwesome;
}
.opencps-theme .opencps-form-navigator-container .taglib-form-navigator .section-modified a {
	line-height: normal;
	padding: 10px 30px;
}
.opencps-theme .taglib-form-navigator .section-modified .modified-notice {
	margin-left: 20px;
	display: block;
}