.opencps-theme.ux .ux-sign-in-wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	margin: 20px 0 0;
}
.opencps-theme.ux .ux-sign-in-wrapper button {
	height: 41px;
	border-radius: 20px;
	width: 100%;
	text-transform: uppercase;
	font-size: inherit;
}
.opencps-theme.ux .default-sign-in, 
.opencps-theme.ux .advance-signin {
	background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    min-height: 261px;
    padding: 35px 25px;
    width: 370px;
}
.opencps-theme.ux .default-sign-in {
	margin-right: 30px;
}
.opencps-theme.ux .ux-sign-in-wrapper .input-prepend {
    width: 100%;
    position: relative;
}
.opencps-theme.ux .ux-sign-in-wrapper input[type="text"], 
.opencps-theme.ux .ux-sign-in-wrapper input[type="password"] {
	height: 41px;
    border-radius: 5px;
    width: 100%;
    padding-left: 55px;
    max-width: 370px;
}
.opencps-theme.ux .ux-sign-in-wrapper .add-on {
    border: 0;
    color: #0090ff;
    height: 39px;
    line-height: 32px;
    width: 40px;
    float: left;
    position: absolute;
    z-index: 5;
    left: 1px;
    top: 1px;
    background-color: white;
    border-radius: 5px 0 0 5px;
}
.opencps-theme.ux .ux-sign-in-wrapper .control-group {
	margin-bottom: 5px;
}
.opencps-theme.ux .ux-sign-in-wrapper .forgot-password {
	color: inherit;
}
.opencps-theme.ux .ux-sign-in-wrapper .button-holder {
	margin: 5px 0px 20px;
}
.opencps-theme.ux .ux-sign-in-wrapper .sign-in-label {
	font-size: 16px;
	font-family: 'Roboto-Bold';
	text-transform: uppercase;
	margin: 0 0 15px;
	text-align: center;
	color: #333;
}
.opencps-theme.ux .ux-sign-in-wrapper .default-sign-in .title {
	color: #333;
	font-size: 18px;
	font-family: 'Roboto-Bold';
	text-transform: uppercase;
	float: left;
	margin: 0 0 20px
}
.opencps-theme.ux .ux-sign-in-wrapper .default-sign-in .sign-in-header {
	margin-bottom: 20px;
	overflow: hidden;
}
.opencps-theme.ux .ux-sign-in-wrapper .default-sign-in .create-account {
	float: right;
	color: #0090ff;
}
.opencps-theme.ux .ux-sign-in-wrapper .text-label {
	background: white;
	position: relative;
	padding: 0 20px;
	bottom: 10px;
}
.opencps-theme.ux .ux-sign-in-wrapper .split {
	text-align: center;
	height: 1px;
	background-color: #e1e1e1;
	margin-top: 30px;
	margin-bottom: 20px;
}
.ux-sign-in-wrapper .add-on .fa.fa-key{
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.opencps-theme.ux .ux-sign-in-wrapper .fb {
	position: relative;
}
.opencps-theme.ux .ux-sign-in-wrapper .fa-facebook {
	position: absolute;
	top: 13px;
	left: 55px;
	color: white;
}



/* 
.opencps-theme.ux .ux-sign-in-wrapper .success {
	border-color: #ccc !important;
	color: #333 !important;
}
.opencps-theme.ux .ux-sign-in-wrapper .success-field {
    border-color: #ccc !important;
    color: #333 !important;
}
.opencps-theme.ux .ux-sign-in-wrapper .error {
    border-color: #ccc !important;
    color: #333 !important;
}
.opencps-theme.ux .ux-sign-in-wrapper .error-field {
	border-color: #ccc !important;
	color: #333 !important;
}
.opencps-theme.ux .ux-sign-in-wrapper .clearable:FOCUS {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(82, 168, 236, 0.6) !Important;
}
.opencps-theme.ux .ux-sign-in-wrapper .password:FOCUS {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(82, 168, 236, 0.6) !Important;
}
 */