.opencps-theme.ux .ux-sign-in-wrapper {
	display: block;
	text-align: center;
	width: 100%;
}

.opencps-theme.ux .ux-sign-in-wrapper button {
	height: 41px;
	border-radius: 20px;
	width: 100%;
}

.opencps-theme.ux .ux-sign-in-wrapper input[type="text"], .opencps-theme.ux .ux-sign-in-wrapper input[type="password"] {
	height: 42px;
    border-left: 0 none;
    border-radius: 0 4px 4px 0;
    /* flex-grow: 1; */
    width: 100%;
    padding-left: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 370px;

}

.opencps-theme.ux .default-sign-in {
	margin-left: 1%;
	margin-right: 1%;
}

.opencps-theme.ux .advance-signin {
	margin-left: 1%;
	margin-right: 1%;
}

.opencps-theme.ux .default-sign-in, .opencps-theme.ux .advance-signin {
	background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    min-height: 261px;
    padding: 30px 25px;
    vertical-align: top;
    width: 370px;
}

.opencps-theme.ux .ux-sign-in-wrapper .input-prepend {
    /* display: flex; */
    width: 100% !important;
    position: relative;
}

.opencps-theme.ux .ux-sign-in-wrapper .add-on {
      /* background: transparent none repeat scroll 0 0!important; */
    border-right: 0 none;
    color: #0090ff;
    height: 32px;
    line-height: 32px;
    width: 40px;
    float: left;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    background-color: white;

}

.opencps-theme.ux .ux-sign-in-wrapper .success-field {
    border-color: #ccc !important;
    color: #333 !important;
}

.opencps-theme.ux .ux-sign-in-wrapper .input-prepend .control-group {
    width: 100%!important;
    position: relative;

}

.opencps-theme.ux .ux-sign-in-wrapper .error {
    border-color: #ccc !important;
    color: #333 !important;
}

.opencps-theme.ux .ux-sign-in-wrapper .control-group .control-label {
	display: none !important;
}


.opencps-theme.ux .ux-sign-in-wrapper .clearable:FOCUS {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		rgba(82, 168, 236, 0.6) !Important;
}

.opencps-theme.ux .ux-sign-in-wrapper .password:FOCUS {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		rgba(82, 168, 236, 0.6) !Important;
}


.opencps-theme.ux .ux-sign-in-wrapper .forgot-password {
	color: #0090ff;
}

.opencps-theme.ux .ux-sign-in-wrapper .button-holder {
	margin-top: 0px;
}

.opencps-theme.ux .ux-sign-in-wrapper .sign-in-label {
	font-size: 16px;
	font-family: 'Roboto-Bold';
	text-transform: uppercase;
	margin: 0 0 15px;
	text-align: center;
}

.opencps-theme.ux .ux-sign-in-wrapper .success {
	border-color: #ccc !Important;
	color: #333333 !Important;
}

.opencps-theme.ux .ux-sign-in-wrapper .success-field {
	border-color: #ccc !Important;
	color: #333333 !Important;
}

.opencps-theme.ux .ux-sign-in-wrapper .error {
	border-color: #ccc !Important;
	color: #333333 !Important;
}

.opencps-theme.ux .ux-sign-in-wrapper .error-field {
	border-color: #ccc !Important;
	color: #333333 !Important;
}

.opencps-theme.ux .ux-sign-in-wrapper .text-label {
	background: white;
	position: relative;
	padding: 0 20px;
	bottom: 10px;
}

.opencps-theme.ux .ux-sign-in-wrapper .split {
	text-align: center;
	height: 1px;
	background-color: #e1e1e1;
	margin-top: 30px;
	margin-bottom: 20px;
}

.opencps-theme.ux .ux-sign-in-wrapper .default-sign-in .title {
	color: #0090ff;
	font-size: 18px;
	font-family: 'Roboto-Bold';
	text-transform: uppercase;
	float: left;
	margin: 0 0 20px
}

.opencps-theme.ux .ux-sign-in-wrapper .default-sign-in .create-account {
	float: right;
	color: #0090ff;
}

.opencps-theme.ux .ux-sign-in-wrapper .default-sign-in .fieldset {
	margin-top: 14%;
}

.opencps-theme.ux .ux-sign-in-wrapper .default-sign-in > p {
	color: #0090ff
}

.opencps-theme.ux .ux-sign-in-wrapper .default-sign-in button, .side_login button {
	width: 100%;
	background: #0090ff;
	border-radius: 20px;
	color: white;
	text-transform: uppercase;
	font-family: 'Roboto-Medium';
	border: 0;
	padding: 10px;
	margin-bottom: 15px
}

.opencps-theme.ux .ux-sign-in-wrapper .advance-signin .title {
	font-size: 16px;
	font-family: 'Roboto-Bold';
	text-transform: uppercase;
	margin: 0 0 30px;
	text-align: center;
}

.opencps-theme.ux .ux-sign-in-wrapper .advance-signin .or {
	position: relative;
	text-align: center
}

.opencps-theme.ux .ux-sign-in-wrapper .advance-signin .or span {
	background: white;
	position: relative;
	padding: 0 20px
}

.opencps-theme.ux .ux-sign-in-wrapper .advance-signin .or:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #e1e1e1;
	left: 0;
	top: 50%
}

.opencps-theme.ux .ux-sign-in-wrapper .fb {
	position: relative !important;
}

.opencps-theme.ux .ux-sign-in-wrapper .fa-facebook {
	top: 13px;
	margin-left: 18px;
	color: white !Important;
	position: absolute;
	margin-left: 18px;
}

.opencps-theme.ux .ux-sign-in-wrapper  .btn-fb-signin{
	text-transform: uppercase;
    font-family: 'Roboto-Medium';
}
.opencps-theme.ux .ux-sign-in-wrapper  .btn-signature-signin{
	text-transform: uppercase;
    font-family: 'Roboto-Medium';
}

.opencps-theme .default-sign-in .forgot-password{
  text-align: left;
}

.opencps-theme .ux-sign-in-wrapper{
	background: whitesmoke;
}
.ux-sign-in-wrapper .add-on .fa.fa-key{
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}