@media screen and (min-width: 760px) {
	.opencps-theme.ux  .ocps-submit-online {
		margin: auto;
		width: 790px;
		background-color: white;
		border-radius: 8px;
		-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
		padding: 30px 0 30px;
	}
	.opencps-theme.ux  .ocps-submit-online .row-fluid {
		width: auto;
		padding-left: 25px;
		padding-right: 25px;
	}
	.opencps-theme.ux  .ocps-submit-online .span4 {
		font-family: 'Roboto-Bold';
		font-weight: bold;
		font-size: 14px;
		width: 15%;
	}
	.opencps-theme.ux  .ocps-submit-online .span8 {
		width: 85%;
		margin-left: 0px;
		color: black;
		margin-bottom: 30px;
	}
	.opencps-theme.ux  .ocps-submit-online .span6 {
		border-top: 1px solid #e1e1e1;
		width: 100%;
		padding-top: 30px;
	}
	.opencps-theme.ux  .ocps-submit-online .span6 .control-group label {
		font-family: 'Roboto-Bold';
		font-weight: bold;
		font-size: 14px;
		display: inline-block;
		width: 69%;
	}
	.opencps-theme.ux  .ocps-submit-online .span6 .control-group select {
		display: inline-block;
		margin-left : -27px;
		width: 34%;
		height: 41px;
	}
}

@media screen and (max-width: 760px) {
	.opencps-theme.ux  .ocps-submit-online {
		margin: auto;
		background-color: white;
		border-radius: 8px;
		-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
		padding: 30px 0 30px;
	}
	.opencps-theme.ux  .ocps-submit-online .row-fluid {
		width: auto;
		padding-left: 25px;
		padding-right: 25px;
	}
	.opencps-theme.ux  .ocps-submit-online .span4 {
		font-family: 'Roboto-Bold';
		font-weight: bold;
		font-size: 14px;
	}
	.opencps-theme.ux  .ocps-submit-online .span8 {
		margin-left: 0px;
		color: black;
		margin-bottom: 30px;
	}
	.opencps-theme.ux  .ocps-submit-online .span6 {
		border-top: 1px solid #e1e1e1;
		width: 100%;
		padding-top: 30px;
	}
	.opencps-theme.ux  .ocps-submit-online .span6 .control-group label {
		font-family: 'Roboto-Bold';
		font-weight: bold;
		font-size: 14px;
		display: inline-block;
	}
	.opencps-theme.ux  .ocps-submit-online .span6 .control-group select {
		display: inline-block;
		height: 41px;
		width: 100%;
		font-size: 14px;
	}
}

.opencps-theme.ux .ocps-submit-online .serice-des {
	margin-top: 20px;
	font-family: 'Roboto-Bold';
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}

.opencps-theme.ux .ocps-submit-online .btn-submit-online {
	text-align: center;
	margin-top: 30px;
}

.opencps-theme.ux .ocps-submit-online .btn-submit-online button {
	border-radius: 20px;
	text-transform: uppercase;
	font-family: 'Roboto-Medium';
	border: 0;
	padding: 10px;
	margin: 0 auto;
	width: 300px;
	display: block;
	margin-top: 20px;
	margin-bottom: 30px;
}

.opencps-theme.ux .submit-headers .header-back-to {
	position: absolute;
}
.opencps-theme.ux .taglib-header .header-title {
    text-transform: uppercase;

}

.opencps-theme.ux .portlet-boundary_26_WAR_opencpsportlet_ .portlet-body .previous-level{
	padding: 0 13em;
	margin-top: 13px;
}

.opencps-theme.ux .portlet-boundary_26_WAR_opencpsportlet_ .portlet-body .header-title {
	text-transform: uppercase;
}

.opencps-theme.ux .portlet-boundary_26_WAR_opencpsportlet_ .opencps-searchcontainer-wrapper .opencps-searchcontainer-row .last{
	width: 10%;
}
.opencps-theme.ux .portlet-boundary_26_WAR_opencpsportlet_ .opencps-searchcontainer-wrapper .opencps-searchcontainer-row .table-cell {
	vertical-align: middle;
}
.opencps-theme.ux .portlet-boundary_26_WAR_opencpsportlet_ .opencps-searchcontainer-wrapper .des-sub-button{
	width: 100%;
    background: #0090ff;
    border-radius: 20px;
    color: white;
    font-family: 'Roboto-Medium';
    border: 0;
    padding: 10px;
}
