
.ocps-register .ocps-res-left{
	float: left;
	width: 50%;
    padding-right: 15px;
    padding-left: 30px;
    padding-top: 30px;
}
.ocps-register  .ocps-res-right{
	width: 50%;
	float: right;
    padding-right: 30px;
    padding-left: 15px;
    padding-top: 30px;
}

.main-content{
	margin: 0!important;
}

.ocps-register .ocps-input-date .field{
	width: 100%!important;
	border-radius: 4px 4px 4px 4px;
	height: 41px!Important;
}
.ocps-register {
	margin: auto;
    width: 70%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    padding: 15px 0 5px;
}
.ocps-register  .ocps-register-button{
	margin-top:30px;
	float: left;
	text-align: center;
	border-top: 1px solid #e1e1e1;
    padding-top: 20px;
}
.ocps-register .opcs-register-login{
	text-align: right;
    color: #0090ff;
    display: inline-block;
    margin-right: 0px;
    padding-right: 35px;
}
.ocps-register .accountmgt {
    margin-top: 30px;
}
.ocps-register .opcs-register-label label{
	font-family: 'Roboto-Bold';
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 30px;
}
.ocps-register .ocps-file-attach{
	box-shadow:none!important;
}
.ocps-register .input-checkbox-wrapper{
    margin-top: 10px;
	background: none!important;
}
.ocps-register .ocps-file-attach .control-group{
	box-shadow: none!important;
	background: none!important;
}

.ocps-register .ocps-file-attach .control-group .control-label{
	display: block!important;
}
.ocps-register .ocps-file-attach .control-group .field{
	display: none!important;
}
.ocps-register .ocps-register-button .btn {
	width: 30%!Important;
}

.ocps-register .ocps-bound-left-right .control-group .field{
    border-color: #e1e1e1!Important;
}
.ocps-register .ocps-bound-left-right .control-group .control-label{
	display: none;
}
.ocps-register .custom-lebel{
	display: none!important;
}

.ocps-register .input100{
	-moz-appearance: none;
	background-position: 97% center!important;
	height: 41px!Important;
    border-color: #e1e1e1!Important;
    width: 100%!Important;
    max-width: 100%!Important;
    border-radius: 4px 4px 4px 4px!Important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-appearance: none;
    margin-bottom: 0px!important;
}
.ocps-register .input100:FOCUS{
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px rgba(82,168,236,0.6)!Important;
}

.ocps-register .aui-field-select{
	background: url(../images/custom/icon_select_gray.png) white no-repeat right;
}

.ocps-register .ocps-fake_textarea-bound label{
	font-family: 'Roboto-Bold';
	float: left;
    margin-right: 20px;
}

.ocps-register .ocps-fake_textarea-bound .fake_textarea .checkbox{
	 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
