.opencps-theme .sbc {
	padding: 20px 30px 10px;
	border-right: 1px solid #e1e1e1;
}
.opencps-theme .file_detail .taglib-form-navigator div.form-navigator-content.tab-content {
	padding: 0;
}
.opencps-theme .sbc .row-fluid label {
	display: inline-block;
	width: 150px;
	font-family: Roboto-Bold;
}

.opencps-theme .sbc .row-fluid .span12 {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 10px
}
.opencps-theme .sbc > .row-fluid:last-child .span12 {
	border-bottom: 0;
	margin-bottom: 0;
}
.opencps-theme .sbc .row-fluid .control-group {
	margin-bottom: 10px
}
.aui .row-fluid .span4 {
	margin-top: 20px;
}
.opencps-theme .sbc .row-fluid input, 
.opencps-theme .sbc .row-fluid select {
	width: 78%;
	height: 30px;
	max-width: 100% !important;
	border: 0px;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset;
}

.opencps-theme .sbc .row-fluid .selectA {
	border-width: 0px 0px 0px !important;
}

.opencps-theme .sbc .row-fluid input, 
.opencps-theme .sbc .row-fluid textarea{
	margin-bottom: 0;
}

.opencps-theme .sbc .row-fluid textarea {
	width: 78%;
}
html, body{
	height: auto;
}

.file_detail{
	background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    margin: 25px auto 0;
    width: 100%;
}
/*-----------------------*/    
.opencps-theme .ocps-custom-header {
 	margin-bottom: 20px;
 	position: relative;
}

.opencps-theme .ocps-custom-header .opcps-label {
    font-family: 'Roboto-Bold';
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.opencps-theme .ocps-custom-header .ocps-span {
 	font: normal normal normal 14px/1 FontAwesome;
 	float: none;
 	margin-left: 0;
 	line-height: 20px;
 	min-height: auto;
}

.ocps-custom-header .ocps-span :BEFORE {
 	content: "\f177";
}  

/*--------------------*/
.portlet_13_result {
	padding: 20px 30px 10px;
	border-right: 1px solid #e1e1e1;
} 
.portlet_13_lb {
	font-family: "Roboto-Bold";
}

.portlet_13_txtitle {
    font-family: "Roboto-Bold";
    font-size: 16px;
    line-height: 60px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.portlet_13_ML15 {
    font-size: 16px;
    padding-bottom: 30px;
}

.opencps-theme .file_detail .portlet_13_line.span12{
	border-top: 1px solid #dddddd;
	margin: 30px 0 0 -30px;
	position: relative;
}
.portlet_13_line:before {
	content: "";
	position: absolute;
	height: 1px;
	top: -1px;
	right: -60px;
	background-color: #e1e1e1;
	width: 100%;
}

.file_detail .portlet_13_result .row-fluid .portlet_13_table th, .portlet_13_table td {
    line-height: 20px;
    padding: 8px;
    vertical-align: top;
    text-align: left;
    border-top: 1px solid #dddddd;
}

.file_detail .portlet_13_result .row-fluid .portlet_13_table .bor-top0 {
    border-top: none;
    
}

.fa-circle:before {
    content: "\f111";
}
.sx10 {
    font-size: 10px;
}
.blue {
    color: #0690fb !important;
}
