.ocps-service-detal-bound-all {
	background-color: white;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	border-radius: 5px;
}

/*--- Title ---*/
.ocps-service-detal-bound-all .ocps-custom-header {
	padding: 25px 0;
	position: relative;
}
.ocps-service-detal-bound-all .ocps-hide-header {
	display: none;
}
.ocps-service-detal-bound-all .ocps-custom-header .opcps-label {
	text-transform: uppercase;
    font-size: 20px;
    line-height: normal;
    font-weight: normal;
    font-family: 'Roboto-Bold';
    text-align: center;
}
.ocps-service-detal-bound-all .ocps-custom-header .ocps-span {
	position: absolute;
    top: 25px;
    left: 0;
    z-index: 10;
    width: auto;
    line-height: 26px;
}
.ocps-service-detal-bound-all .ocps-custom-header .ocps-span a:before {
	content: "\f177";
	font-family: FontAwesome;
	margin-right: 5px;
}

/*--- Content ---*/
.ocps-service-detal-bound-all .service-detail-wrapper table td {
	border: 0;
	padding: 10px 20px;
}
.ocps-service-detal-bound-all .service-detail-wrapper table tr {
	border-bottom: 1px solid #e1e1e1;
}
.ocps-service-detal-bound-all .service-detail-wrapper table tr:first-child {
	border-top: 1px solid #e1e1e1;
}
.ocps-service-detal-bound-all .service-detail-wrapper .col-left {
	font-family: 'Roboto-Bold';
	width: 15%;
	min-width: 170px;
	vertical-align: top;
}
.ocps-service-detal-bound-all .service-detail-wrapper tr:last-child td {
	text-align: center;
}
.ocps-service-detal-bound-all .service-detail-wrapper button {
    border-radius: 20px;
    margin: 15px;
    padding: 7px 20px;
}