
.opencps-theme.ux .opencps-register-wrapper {
    display: table;
    margin: auto;
}
.opencps-theme.ux .register-content .accountmgt{
    margin-top: 50px;
    margin-Bottom: 30PX;
}
.opencps-theme.ux .register-content .accountmgt .title-text{
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
}
.opencps-theme.ux .opencps-register-wrapper form{
	margin-bottom: 0px;
}
.opencps-theme.ux .opencps-register-wrapper input, .opencps-theme.ux .opencps-register-wrapper select,
	.opencps-theme.ux .opencps-register-wrapper button {
	height: 41px;
}
.opencps-theme.ux .register-content{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	border-radius: 8px;
    display: block;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: table;
    margin: auto;
    background-color: white;
}
@media screen and (min-width: 760px) {
.opencps-theme.ux .register-content .left{
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 30px;
}
.opencps-theme.ux .register-content .right{
	padding-left: 10px;
    padding-top: 20px;
    padding-right: 30px;
}
}
@media screen and (max-width: 760px) {
.opencps-theme.ux .register-content .left{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.opencps-theme.ux .register-content .right{
	padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
}
.opencps-theme.ux .register-content .content-part{
    min-height: 261px;
    vertical-align: top;
    display: inline-block;
    width: 355px;
}

.opencps-theme.ux .register-content .control-group{
    text-align: -webkit-left;
    text-align: -moz-left;
}
.opencps-theme.ux .register-content .control-group label{
    display: none;
}
.opencps-theme.ux .register-content .custom-lebel{
    display: none;
}
.opencps-theme.ux .register-content .control-group .checkbox{
	display:block;
}
.opencps-theme.ux .register-content .control-group input{
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.opencps-theme.ux .register-content .lfr-input-date .control-group input{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
   	box-sizing: border-box;
	max-width: 100%;
	width: 100%;
}
.opencps-theme.ux .register-content .control-group .checkbox input{
	height: 14px;
}

.opencps-theme.ux .register-content .ocps-fake_textarea-bound{
	text-align: -webkit-auto;
}
.opencps-theme.ux .opencps-register-wrapper .control-group .radio input{
	height: 14px;
}
.opencps-theme.ux .opencps-register-wrapper .control-group .radio {
	display: block;
}
.opencps-theme.ux .register-content .ocps-fake_textarea-bound label{
    float: left;
    font-family: 'Roboto-Bold';
}
.opencps-theme.ux .register-content .ocps-fake_textarea-bound .fake_textarea{
    float: right;
    height: 90px;
    overflow: auto;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 10px;
}
.opencps-theme.ux .register-content .ocps-fake_textarea-bound .fake_textarea label{
	font-family: 'Roboto-Regular';
}
.opencps-theme.ux .register-content .input100:FOCUS{
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px rgba(82,168,236,0.6)!Important;
}
.opencps-theme.ux .register-content .success-field {
    border-color: #ccc !important;
    color: #333 !important;
}
.opencps-theme.ux .register-content .error {
    border-color: #ccc !important;
    color: #333 !important;
}
.opencps-theme.ux .register-content .input-file label{
	display: block;
}
/* .opencps-theme.ux .register-content .input-file label:AFTER{
	color: #0f97ff;
	content: " Click here";
} */
.opencps-theme.ux .register-content .input-file input {
	display: none;
}
.opencps-theme.ux .register-content .control-group select {
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
} 

.opencps-theme.ux .register-content .control-group .aui-field-select{
    margin-top: 0px;
    margin-bottom: 10px;
}
.opencps-theme.ux .opencps-register-wrapper .btn{
	border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Roboto-Medium';
    border: 0;
    padding: 10px;
    margin: 0 auto;
    width: 300px;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
}
.opencps-theme.ux .opencps-register-wrapper .term-user .term-detail-register {
    float: right;
    margin-top: -30px;
    margin-right: 122px;
    color: blue;
}
.detail-terms-links{
	font-weight: bold;
	color: #0077b3 !important;
	font-size: 13px;
	text-decoration: none !important;
}
.opencps-theme.ux  .content-part .lfr-input-date .control-group {position: relative;margin-bottom: 20px;}
.opencps-theme.ux  .content-part .lfr-input-date .control-group:before {content:"\f073"; position: absolute; font-family: FontAwesome; right: 10px; top:50%;width: 100%;text-align: right;font-size: 16px;color: #4b4b4b;transform: translateY(-50%);-webkit-transform: translateY(-50%); pointer-events: none}
.opencps-theme.ux  .content-part .lfr-input-date .control-group input {margin-bottom: 0}

.span4.login-redirect a{
  color: #0077b3;
  font-weight: 500;
  text-decoration: none !important;;
}
.opencps-theme.ux .input-file .detail-terms-links {
	pointer-events: none;
}

/* custom vtduy */
.opencps-theme.ux .changeDefErr{
	border : 1px solid #b50303;
	border-radius : 5px;
	height: 41px;
	margin-bottom: 20px;
}
.opencps-theme.ux .displayDefErr{
	display: block!important;
}
