.opencps-theme.ux .opencps-form-navigator-container .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list > li > a > i{
	background-position: center center;
	background-color: transparent;
	background-repeat: no-repeat;
}

.opencps-theme.ux .opencps-form-navigator-container .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list > li.active > a > i.dossier_info{
	background-image: url("../images/custom/icon_dossierinfo_white.png");
    height: 16px;
    margin-bottom: 1px;
    vertical-align: middle;
    width: 19px;
}

.opencps-theme.ux .opencps-form-navigator-container .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list > li > a > i.dossier_info{
	background-image: url("../images/custom/icon_dossierinfo_blue.png");
	height: 16px;
    margin-bottom: 1px;
    vertical-align: middle;
    width: 19px;
}

/* .opencps-theme.ux .opencps-form-navigator-container .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list > li:hover > a > i.dossier_info{
	background-image: url("../images/custom/icon_dossierinfo_white.png");
    height: 16px;
    margin-bottom: 1px;
    vertical-align: middle;
    width: 19px;
} */


.opencps-theme.ux .opencps-form-navigator-container .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list > li.active > a > i.dossier_part{
	background-image: url("../images/custom/icon_dossierpart_white.png");
    height: 16px;
    margin-bottom: 1px;
    vertical-align: middle;
    width: 19px;
}
.opencps-theme.ux .opencps-form-navigator-container .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list > li > a > i.dossier_part{
	background-image: url("../images/custom/icon_dossierpart_blue.png");
	height: 16px;
    margin-bottom: 1px;
    vertical-align: middle;
    width: 19px;
}


.opencps-theme.ux .opencps-form-navigator-container .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list > li.active > a > i.result{
	background-image: url("../images/custom/icon_dossierresult_white.png");
    height: 16px;
    margin-bottom: 1px;
    vertical-align: middle;
    width: 19px;
}

.opencps-theme.ux .opencps-form-navigator-container .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list > li > a > i.result{
	background-image: url("../images/custom/icon_dossierresult_blue.png");
	height: 16px;
    margin-bottom: 1px;
    vertical-align: middle;
    width: 19px;
}

.opencps-theme.ux .opencps-form-navigator-container .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list > li.active > a > i.history{
	background-image: url("../images/custom/icon_dossierhistory_white.png");
    height: 16px;
    margin-bottom: 1px;
    vertical-align: middle;
    width: 19px;
}

.opencps-theme.ux .opencps-form-navigator-container .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list > li > a > i.history{
	background-image: url("../images/custom/icon_dossierhistory_blue.png");
	height: 16px;
    margin-bottom: 1px;
    vertical-align: middle;
    width: 19px;
}


.opencps-theme.ux .opencps-form-navigator-container .taglib-form-navigator .tabbable-content .form-navigator.nav.nav-list > li > a{
	color: #000;
	padding: 10px 15px;
}

.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row {
	border-bottom: 1px solid #e1e1e1;
}

.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row .row-icon .fa-circle{
	color: #0090ff
}

.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row .dossier-part-control .dossier-version-counter {
    background-color: #0090ff;
    border: none;
    border-radius: 100%;
    display: block;
    height: 22px;
    margin-left: 5px;
    text-align: center;
    width: 22px;
}

.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row .dossier-part-control .counter-value {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 21px;
}
	
.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row .dossier-part-control .counter-value a.view-version {
    color: #fff !important;
}

.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row .dossier-part-control .counter-value a.view-version:hover {
    text-decoration: none;
}

.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row .dossier-part-control .opencps.dossiermgt.part-file-ctr{
	background-color: transparent;
	color: #0090ff !important;
	font-weight: normal;
    padding-left: 22px;
    text-shadow: none;
    white-space: nowrap;
}

.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row .dossier-part-control .opencps.dossiermgt.part-file-ctr.declaration-online{
	background: transparent url("../images/custom/icon_dynamic_form.png") no-repeat scroll left center;
}

.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row .dossier-part-control .opencps.dossiermgt.part-file-ctr.upload-dossier-file{
	background: transparent url("../images/custom/icon_upload.png") no-repeat scroll left center;
}

.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row .dossier-part-control .opencps.dossiermgt.part-file-ctr.view-attachment{
	background: transparent url("../images/custom/icon_view_attachment.png") no-repeat scroll left center;
}

.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row .dossier-part-control .opencps.dossiermgt.part-file-ctr.remove-dossier-file{
	background: transparent url("../images/custom/icon_remove_dossierfile.png") no-repeat scroll left center;
	color: #555 !important;
    font-family: "Roboto-Medium";
    margin-left: 10px;
    opacity: 0.6;
    padding-left: 15px;
    white-space: nowrap;
}

.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row .dossier-part-control .opencps.dossiermgt.part-file-ctr.remove-dossier-file::after{
	content: "Xóa file";
}

.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row .dossier-part-control .opencps.dossiermgt.part-file-ctr.remove-dossier-file i{
	display: none;
}

.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row .dossier-part-control .opencps.dossiermgt.part-file-ctr.add-individual-part-group::before {
    content: "\f067";
    font-family: fontawesome;
    font-size: 18px;
    padding-right: 5px;
    vertical-align: middle;
}

#_13_WAR_opencpsportlet_history{
	.lfr-search-container {
		display:none;
	}
}



.sitemap-class.opencps-horizontal {}
.sitemap-class.opencps-horizontal li {
	width: 32%;
	margin-right: 2%;
	float: left;
	height: 130px;
	position: relative;
	margin-bottom: 10px;
}
.sitemap-class.opencps-horizontal li:nth-child(3n) {
	margin-right: 0;
}
.sitemap-class.opencps-horizontal li > div > div {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.43);
	color: white;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	transition: all 0.6s ease;
	text-transform: uppercase;
	font-size: 18px;
	border-radius: 20px;
	text-align: center;
	line-height: 130px
}
.sitemap-class.opencps-horizontal li:hover > div > div {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1) translateX(0);
	-moz-transform: scale(1) translateX(0);
	transform: scale(1) translateX(0);
}
.sitemap-class.opencps-horizontal li:hover > div > div a {
	position: relative;
	padding: 10px 0;
}
.sitemap-class.opencps-horizontal li:hover > div > div a:before, 
.sitemap-class.opencps-horizontal li:hover > div > div a:after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: white;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	transform: scale(0.85);
}
.sitemap-class.opencps-horizontal li a, 
.sitemap-class.opencps-horizontal li a:hover {
	color:white;
	text-decoration: none;
}
.sitemap-class.opencps-horizontal li:hover > div > div a:after {
	opacity: 0;
	-webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: top 0.3s, opacity 0.3s, transform 0.3s;
}
.sitemap-class.opencps-horizontal li:hover > div > div a:hover:before, 
.sitemap-class.opencps-horizontal li:hover > div > div a:hover:after, 
.sitemap-class.opencps-horizontal li:hover > div > div a:focus:before, 
.sitemap-class.opencps-horizontal li:hover > div > div a:focus:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
.sitemap-class.opencps-horizontal li:hover > div > div a:hover:after, 
.sitemap-class.opencps-horizontal li:hover > div > div a:focus:after {
    top: 0%;
    opacity: 1;
}
