.ocps-dossier-info{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ocps-dossier-info .table-bordered{
	border: 0px solid #ddd;
}

.ocps-dossier-info .dossier-info-table tbody tr td:FIRST-CHILD{
	font-family: 'Roboto-Bold';
}

