.opencps-theme.ux .opencps-accountinfo-wrapper {
	margin: 25px auto 0;
	width: 100%;
	background-color: white;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
	padding: 15px 0 0
}

.opencps-theme.ux .opencps-accountinfo-wrapper .header {
	border-bottom: 1px solid #e1e1e1;
	padding: 0 30px
}

.opencps-theme.ux .opencps-accountinfo-wrapper .header p {
	background: url("../images/custom/icon_thongtintaikhoan_blue.png") 0
		center no-repeat;
	padding-left: 20px;
	text-transform: uppercase;
	font-family: 'Roboto-Bold';
	font-size: 18px;
	line-height: 60px;
	margin-bottom: 0
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left {
	padding: 30px 50px 20px 30px;
	display: inline-block;
	vertical-align: top;
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .right {
	padding: 30px 30px 20px;
	display: inline-block;
	vertical-align: top;
}


/* .opencps-theme.ux .opencps-accountinfo-wrapper .content {
	display: flex;
} */
.opencps-theme.ux .opencps-accountinfo-wrapper .content .left {
	width: 43%;
}
.opencps-theme.ux .opencps-accountinfo-wrapper .content .right {
	width: 44%;
	position: relative;
}
.opencps-theme.ux .opencps-accountinfo-wrapper .content .right:BEFORE {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	background: #ccc;
}

@media screen and (max-width: 760px) {
	.opencps-theme.ux .opencps-accountinfo-wrapper .content {
		display: block;
	}
	.opencps-theme.ux .opencps-accountinfo-wrapper .content .left {
		width: 85%;
	}
	.opencps-theme.ux .opencps-accountinfo-wrapper .content .right {
		width: 85%;
	}
}

.account_info .row-fluid  .span6 .box_scroll {
	overflow: auto;
	display: -webkit-box;
	left: 0;
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left>div,
	.opencps-theme.ux .opencps-accountinfo-wrapper .content .right>div {
	position: relative;
	margin-bottom: 20px
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left>div img {
	float: left;
	margin-right: 30px;
	width: 80px;
	height: 80px
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left>div p,
	.opencps-theme.ux .opencps-accountinfo-wrapper .content .right>div p {
	font-family: 'Roboto-Bold';
	margin-bottom: 0;
	position: relative;
	text-transform: uppercase;
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left>div .change_avatar
	{
	margin-top: 20px;
	float: left;
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left>div .name
	{
	text-transform: uppercase;
	margin: 0 0 5px
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left>div a,
	.opencps-theme.ux .opencps-accountinfo-wrapper .content .right>div a {
	color: #0090ff !important
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left>div a.fix_avatar
	{
	top: 20px !important
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left>div a.fix,
	.opencps-theme.ux .opencps-accountinfo-wrapper .content .right>div a.fix
	{
	position: absolute;
	right: 0;
	padding-left: 20px;
	background: url("../images/custom/icon_edit_blue.png") 0 center no-repeat;
	top: 0
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left>div a.add,
	.opencps-theme.ux .opencps-accountinfo-wrapper .content .right>div a.add
	{
	position: absolute;
	right: 0;
	padding-left: 20px;
	background: url("../images/custom/icon_dangnhap_hover.png") 0 center
		no-repeat;
	top: 0
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left>div p span
	{
	display: inline-block;
	width: 110px;
	font-family: 'Roboto-Regular'
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .right>div p span
	{
	display: inline-block;
	width: 130px;
	font-family: 'Roboto-Regular'
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left>div button,
	.opencps-theme.ux .opencps-accountinfo-wrapper .content .right>div button
	{
	color: white;
	text-transform: uppercase;
	background-color: #0090ff;
	border: 0;
	border-radius: 20px;
	padding: 5px 15px;
	position: absolute;
	top: -5px;
	right: 20px
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left>div a.fixing,
	.opencps-theme.ux .opencps-accountinfo-wrapper .content .right>div a.fixing
	{
	background: none;
	position: absolute;
	right: 0;
	top: 0;
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left>div p input,
	.opencps-theme.ux .opencps-accountinfo-wrapper .content .right>div p input
	{
	border: 0;
	box-shadow: none;
	padding: 0;
	margin-bottom: 0
}

.opencps-theme.ux .opencps-accountinfo-wrapper .content .left>div p input:focus,
	.opencps-theme.ux .opencps-accountinfo-wrapper .content .right>div p input:focus
	{
	outline: 1px solid #0090ff;
	outline-color: rgba(7, 140, 244, 0.3);
}

.opencps-theme.ux .opencps-accountinfo-wrapper.account_company .left>div p span
	{
	width: 150px
}

.opencps-theme.ux .opencps-accountinfo-wrapper.account_company .right {
	padding-top: 20px
}

.opencps-theme.ux .opencps-accountinfo-wrapper div>p>label {
	display: inline-table;
	width: 230px;
	margin: 0
}

.opencps-theme.ux .opencps-accountinfo-wrapper.account_company .left>div>p>label span
	{
	padding-left: 20px;
	background: url("../images/icon_checked.png") 0 center no-repeat;
	font-family: 'Roboto-Bold';
	margin-bottom: 10px
}

.opencps-theme.ux .opencps-accountinfo-wrapper.account_company .left>div>p>label span:last-child
	{
	margin-bottom: 0
}

.opencps-theme.ux .opencps-accountinfo-wrapper .box_scroll {
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	padding: 5px 15px;
	height: 90px;
	overflow: auto;
	position: relative;
	left: 150px;
	display: inline-block;
}

.opencps-theme.ux .opencps-accountinfo-wrapper .fix_topleft {
	position: absolute;
	top: 0;
	left: 0
}