.opencps-theme.ux .opencps-register-wrapper {
    display: table;
    margin: 20px auto 0;
    width: 790px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: white;
}
.opencps-theme.ux .register-content .accountmgt {
    margin-bottom: 30px;
    height: 90px;
    border-bottom: 1px solid #ebebeb;
}
.opencps-theme.ux .register-content .accountmgt .title-text {
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
    padding: 45px 0 0 35px;
}
.opencps-theme.ux .register-content .accountmgt .register-options {
	padding-top: 45px;
}
.opencps-theme.ux .register-content .accountmgt .login-redirect {
	color: #0090ff;
	text-align: right;
	padding: 50px 55px 0 0;
}
.opencps-theme.ux .register-content .accountmgt .title-text label {
	font-size: 18px;
}
.opencps-theme.ux .opencps-register-wrapper input[type="text"], 
.opencps-theme.ux .opencps-register-wrapper select, 
.opencps-theme.ux .opencps-register-wrapper button {
	height: 41px;
	border: 1px solid #e1e1e1;
	box-shadow: none;
	border-radius: 5px;
}
.opencps-theme.ux .register-content .left{
    padding: 0 10px 0 35px;
}
.opencps-theme.ux .register-content .right{
	padding: 0 35px 0 10px;
}
.opencps-theme.ux .register-content .content-part {
    width: 50%;
    float: left;
    margin-bottom: 15px;
}
.opencps-theme.ux .register-content .content-part label, 
.opencps-theme.ux .register-content .content-part input[type="file"] {
    display: none;
}
.opencps-theme.ux .register-content .input-checkbox-wrapper label, 
.opencps-theme.ux .register-content .input-text-wrapper label, 
.opencps-theme.ux .register-content .ocps-fake_textarea-bound label {
	display: block;
}
.opencps-theme.ux .register-content .control-group {
	margin-bottom: 10px;
}
.opencps-theme.ux .register-content .control-group input[type="text"], 
.opencps-theme.ux .register-content .control-group select {
	margin-bottom: 5px;
	width: 100%;
	padding: 0 10px;
}
.opencps-theme.ux .opencps-register-wrapper .register-content > .row-fluid:last-child {
	clear: both;
	border-top: 1px solid #ebebeb;
}
.opencps-theme.ux .opencps-register-wrapper .btn {
	border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Roboto-Medium';
    border: 0;
    padding: 10px;
    margin: 20px auto 30px;
    width: 300px;
    display: block;
}
.opencps-theme.ux .opencps-register-wrapper .detail-terms-links {
	color: #0690fa;
}

.opencps-theme.ux .fake_textarea {
    float: right;
    height: 90px;
    overflow: auto;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 5px 10px;
}
.opencps-theme.ux .ocps-fake_textarea-bound > label {
	font-family: 'Roboto-Bold';
}
.opencps-theme.ux .fake_textarea .control-group:last-child {
	margin-bottom: 0;
}
.opencps-theme.ux .lfr-input-date .control-group {
	position: relative;
}
.opencps-theme.ux .lfr-input-date .control-group:before {
	content:"\f073";
	position: absolute;
	font-family: FontAwesome;
	right: 10px;
	top:50%;
	font-size: 16px;
	color: #4b4b4b;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	pointer-events: none;
}

.opencps-theme.ux .changeDefErr{
	border : 1px solid #b50303;
	border-radius : 5px;
	height: 41px;
	margin-bottom: 20px;
}
.opencps-theme.ux .displayDefErr{
	display: block!important;
}


/* .opencps-theme.ux .register-content .control-group .checkbox {
	display:block;
}
.opencps-theme.ux .register-content .ocps-fake_textarea-bound{
	text-align: -webkit-auto;
}
.opencps-theme.ux .register-content .input100:FOCUS{
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px rgba(82,168,236,0.6)!Important;
}
.opencps-theme.ux .register-content .success-field {
    border-color: #ccc !important;
    color: #333 !important;
}
.opencps-theme.ux .register-content .error {
    border-color: #ccc !important;
    color: #333 !important;
}
.opencps-theme.ux .register-content .input-file label{
	display: block;
}
.opencps-theme.ux .register-content .input-file label:AFTER{
	color: #0f97ff;
	content: " Click here";
}

.opencps-theme.ux .input-file .detail-terms-links {
	pointer-events: none;
}
 */