/*------------------------------
		THU TUC HANH CHINH
------------------------------*/

/*---------- Left Col - PortletID 11 ----------*/

/*--- Portlet ---*/
.opencps-theme .portlet-boundary_11_WAR_opencpsportlet_ .portlet {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	border-radius: 4px;
	margin-bottom: 30px;
}
/* Header */
.opencps-theme .portlet-boundary_11_WAR_opencpsportlet_ .portlet header {
	border-bottom: 1px solid #e1e1e1;
	height: 50px;
	padding-left: 25px;
}
.opencps-theme .portlet-boundary_11_WAR_opencpsportlet_ .portlet header h1 {
	line-height: 50px;
	font-size: 16px;
	font-family: 'Roboto-Bold';
	text-transform: uppercase;
	margin: 0;
	/* padding-left: 25px;
	background: url("../images/custom/icon_ngoinha_blue.png") 0 center no-repeat; */
}
/* Content */
.opencps-theme .portlet-boundary_11_WAR_opencpsportlet_ .portlet .portlet-content {
	padding: 15px 25px;
}
.opencps-theme .portlet-boundary_11_WAR_opencpsportlet_ .portlet .portlet-body {
	background-color: transparent;
}
.opencps-theme .portlet-boundary_11_WAR_opencpsportlet_ .portlet .portlet-body .service-menu ul {
	margin: 0;
}
.opencps-theme .portlet-boundary_11_WAR_opencpsportlet_ .portlet .portlet-body .service-menu ul li {
	padding: 5px 0 5px 15px;
	position: relative;
}
.opencps-theme .portlet-boundary_11_WAR_opencpsportlet_ .portlet .portlet-body .service-menu ul li:before {
	content: "\f111";
	position: absolute;
	left: 0;
	font-family: FontAwesome;
	color: #0f97ff;
	font-size: 12px;
}
.opencps-theme .portlet-boundary_11_WAR_opencpsportlet_ .portlet .portlet-body .service-menu ul li i {
	display: none;
}



/*---------- Right Col - PortletID 10 ----------*/
.opencps-theme .ocps-bound-service-infodirect, .opencps-theme .ocps-service-detal-bound-all {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	border-radius: 4px;
}

/*--- Khu vuc tim kiem ---*/
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar {
	margin: 0;
}
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner {
	background: none #fff;
	padding: 25px;
	border: 0;
	box-shadow: none;
}
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner .navbar-search {
	margin-top: 0;
	float: none;
}
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner .toolbar_search_input .span3 {
	width: 48.5%;
	margin: 0;
}
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner .toolbar_search_input .span3:first-child {
	margin-right: 3%;
}
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner .toolbar_search_input .span5 {
	width: 100%;
	margin: 0;
}
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner .toolbar_search_input .span3 {
	margin-bottom: 15px;
}
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner .toolbar_search_input .span3 .control-group, 
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner .toolbar_search_input .span5 .control-group {
	width: 100%;
	height: 41px;
	overflow: hidden;
	background: url("../images/custom/icon_select_gray.png") no-repeat right;
	background-position: 325px center;
	margin-bottom: 0;
}
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner .toolbar_search_input .span3 .control-group select, 
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner .toolbar_search_input .span5 .control-group select {
	background: transparent none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	line-height: 20px;
	padding: 0 10px;
	width: 100%;
	height: 41px;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
}
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner .toolbar_search_input .span5 label {
	display: none;	
}
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner .toolbar_search_input .span5 .input-append {
	width: 100%;
}
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner .toolbar_search_input .span5 .input-append input {
	height: 41px;
	border-radius: 4px;
	width: 48.5%;
	margin-bottom: 15px;
	border: 1px solid #e1e1e1;
	margin-right: 3%;
	margin-bottom: 0;
}
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner .toolbar_search_input .span5 .input-append button {
	border-radius: 4px !important;
	margin-bottom: 0 !important;
	position: relative;
	text-indent: 30px;
	width: 48.5%;
	height: 41px;
}
.opencps-theme .ocps-bound-service-infodirect .navbar.custom-toolbar .navbar-inner .toolbar_search_input .span5 .input-append button:before {
	content: "\f002";
	position: absolute;
	font-family: FontAwesome;
	left: 30%;
}

/*--- Bang danh sach ---*/

/* Header */
.opencps-theme .ocps-bound-service-infodirect .opcs-serviceinfo-list-label {
	border-bottom: 1px solid #e1e1e1;
	height: 70px;
	padding-left: 30px;
}
.opencps-theme .ocps-bound-service-infodirect .opcs-serviceinfo-list-label p {
	line-height: 70px;
	font-size: 16px;
	font-family: 'Roboto-Bold';
	text-transform: uppercase;
	padding-left: 25px;
	background: url("../images/custom/icon_danhsachhoso_blue.png") 0 center no-repeat;
}
/* Content */
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container {
	margin-top: 0;
	position: relative;
	overflow: inherit;
}
/*Search container top*/
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .taglib-search-iterator-page-iterator-top {
	position: absolute;
	right: 0;
	top: 0;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .taglib-search-iterator-page-iterator-top .taglib-page-iterator {
	overflow: inherit;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .taglib-search-iterator-page-iterator-top .lfr-pagination-config > div:first-child, 
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .taglib-search-iterator-page-iterator-top .lfr-pagination-buttons {
	display: none;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .taglib-search-iterator-page-iterator-top .lfr-pagination-config > div:last-child a {
	background: none transparent !important;
	color: #444 !important;
	top: -206px;
	right: 30px;
	box-shadow: none;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .taglib-search-iterator-page-iterator-top .search-results {
	position: absolute;
	right: 200px;
	font-size: 14px;
	margin: 0;
	width: 130px;
	top: -205px;
}
/*Table*/
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .searchcontainer table {
	border: 0;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .searchcontainer table thead {
	display: none;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .searchcontainer table td {
	background: none #fff;
	border: 0;
	border-bottom: 1px solid #e1e1e1;
	position: relative;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .searchcontainer table tr:first-child td {
	border-top: 1px solid #e1e1e1;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .searchcontainer table td:after {
	content: "";
	border-right: 1px solid #e1e1e1;
	width: 1px;
	height: calc(100% - 30px);
	position: absolute;
	right: 0;
	top: 15px;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .searchcontainer table td:first-child:after, 
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .searchcontainer table td:last-child:after {
	border: 0;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .searchcontainer table td.table-cell {
	padding: 20px 15px;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .searchcontainer table td.table-cell.first {
	text-align: right;
	font-family: 'Roboto-Bold';
	padding: 20px 0;
	width: 40px;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .searchcontainer table td.table-cell.last {
	width: 350px;
	padding: 20px 30px;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .searchcontainer table td.table-cell.last .ocps-searh-bound-data p span {
	font-family: 'Roboto-Bold';
	display: inline-block;
	width: 125px;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .searchcontainer table td.ocps-searh-bound-data-chirld-span {
	display: none;
}
/*Search container bottom*/
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .taglib-search-iterator-page-iterator-bottom .lfr-pagination-config, 
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .taglib-search-iterator-page-iterator-bottom .search-results {
	display: none;
}
.opencps-theme .ocps-bound-service-infodirect .lfr-search-container .taglib-search-iterator-page-iterator-bottom .pager.lfr-pagination-buttons {
	float: none;
	margin-bottom: 25px;
}

/*--- Bang danh sach chi tiet ---*/

/* Top title + Back */
.opencps-theme .ocps-service-detal-bound-all .ocps-hide-header {
	display: none;
}
.opencps-theme .ocps-service-detal-bound-all .ocps-custom-header {
	border-bottom: 1px solid #e1e1e1;
	height: 70px;
	padding-left: 30px;
}
.opencps-theme .ocps-service-detal-bound-all .ocps-custom-header .ocps-span {
	margin: 0;
}
.opencps-theme .ocps-service-detal-bound-all .ocps-custom-header .ocps-span a {
	padding-left: 20px;
	line-height: 70px;
	position: relative;
}
.opencps-theme .ocps-service-detal-bound-all .ocps-custom-header .ocps-span a:before {
	content: "\f0a8";
	font-family: FontAwesome;
	position: absolute;
	font-size: 18px;
	left: 0;
}
.opencps-theme .ocps-service-detal-bound-all .ocps-custom-header .opcps-label {
	line-height: 70px;
	font-size: 16px;
	font-family: 'Roboto-Bold';
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
/* Table */
.opencps-theme .ocps-service-detal-bound-all .service-detail-wrapper {
	overflow: hidden;
}
.opencps-theme .ocps-service-detal-bound-all .service-detail-wrapper table {
	border: 0;
}
.opencps-theme .ocps-service-detal-bound-all .service-detail-wrapper table td {
	border: 0;
	border-bottom: 1px solid #e1e1e1;
}
.opencps-theme .ocps-service-detal-bound-all .service-detail-wrapper table td.col-left {
	width: 150px;
	min-width: 100px;
	padding: 15px;
	vertical-align: top;
	font-family: 'Roboto-Bold';
}

.opencps-theme .ocps-service-detal-bound-all .service-detail-wrapper table td.col-right ul {
	margin: 0;
}
.opencps-theme .ocps-service-detal-bound-all .service-detail-wrapper table td.col-right ul a {
	word-break: break-all;
}
.opencps-theme .ocps-service-detal-bound-all .service-detail-wrapper table tr:first-child td {
	border-bottom: 0;
	padding-bottom: 0;
}



/*------------------------------
		QUAN TRI HE THONG
------------------------------*/


/*---------- PortletID 9 - Detail ----------*/
/* .ocps-update-service-bound-all .ocps-update-service-bound-general {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	border-radius: 4px;
	padding: 0 30px 30px;
	margin-bottom: 30px;
}
.ocps-update-service-bound-all .ocps-update-service-bound-general > a, 
.ocps-update-service-bound-all .ocps-update-service-bound-detail > a {
	border-bottom: 1px solid #e1e1e1;
	font-family: 'Roboto-Bold';
	font-size: 16px;
	line-height: 60px;
    display: block;
    margin: 0 -30px 20px;
    padding: 0 30px 0 55px;
    background: url("../images/custom/icon_dangnhap_hover.png") 30px center no-repeat;
    text-transform: uppercase;
}
.ocps-update-service-bound-all .ocps-update-service-bound-general .ocps-edit-serviceinfo-col-only .control-label, 
.ocps-update-service-bound-all .ocps-update-service-bound-general .ocps-edit-serviceinfo-col .control-label {
	display: inline-block;
	width: 125px;
	font-family: 'Roboto-Bold';
	margin: 0;
	line-height: 41px;
}
.ocps-update-service-bound-all .ocps-update-service-bound-general .ocps-edit-serviceinfo-col-only .lfr-input-text, 
.ocps-update-service-bound-all .ocps-update-service-bound-general .ocps-edit-serviceinfo-col select, 
.ocps-update-service-bound-all .ocps-update-service-bound-general .ocps-edit-serviceinfo-col .lfr-input-text {
	height: 41px;
	display: inline-block;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	width: calc(100% - 130px) !important;
	max-width: 100% !important;
	margin: 0;
	box-shadow: none;
}
.ocps-update-service-bound-all .ocps-update-service-bound-general .ocps-edit-serviceinfo-col {
	width: 32%;
	float: left;
	margin: 0 2% 0 0;
}
.ocps-update-service-bound-all .ocps-update-service-bound-general .control-group {
	margin-bottom: 15px;
}
.ocps-update-service-bound-all .ocps-update-service-bound-general .ocps-edit-serviceinfo-col:last-child {
	margin-right: 0;
}
.ocps-update-service-bound-all .ocps-update-service-bound-general .row-fluid:last-child .ocps-edit-serviceinfo-col .control-group {
	margin: 0;
}

.ocps-update-service-bound-all .ocps-update-service-bound-detail {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	border-radius: 4px 4px 0 0;
	padding: 0 30px 1px;
}
.ocps-update-service-bound-all .ocps-update-service-bound-detail .row-fluid {
	margin-bottom: 15px;
}
.ocps-update-service-bound-all .ocps-update-service-bound-detail .row-fluid .label {
	background-color: transparent;
    color: #444;
    text-shadow: none;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Roboto-Bold';
    width: 145px;
    vertical-align: top;
    white-space: normal;
    line-height: normal;
}
.ocps-update-service-bound-all .ocps-update-service-bound-detail .row-fluid .span12 > div:not(.label) {
	width: calc(100% - 150px);
    display: inline-block;
}

.ocps-update-service-bound-all .ocps-update-service-bound-template {
	background-color: #fff;
	-webkit-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.2);
	border-radius: 0 0 4px 4px;
	padding: 0 30px 30px;
	margin-bottom: 20px;
	overflow: hidden;
}
.ocps-update-service-bound-all .ocps-update-service-bound-template .modify-link {
	display: inline-block;
    width: 145px;
}
.ocps-update-service-bound-all .ocps-update-service-bound-template .lfr-search-container {
	margin-top: 0;
	display: inline-block;
    width: calc(100% - 150px);
    float: right;
}
.ocps-update-service-bound-all .ocps-update-service-bound-template .lfr-search-container table {
	border-collapse: collapse;
}
.ocps-update-service-bound-all .ocps-update-service-bound-template .lfr-search-container table td {
	border: 1px solid #e1e1e1;
}

.opencps-theme .portlet-boundary_9_WAR_opencpsportlet_ form {
	margin-bottom: 0;
}
Bu.opencps-theme.ux 9_WAR_opencpsportlet_ form > button {
	padding: 5px 50px;
	position: relative;
    left: 50%;
    transform: translateX(-50%);
}
 */

/*---------- PortletID 9 ----------*/

/*--- Header Porrtlet ---*/
.portlet-boundary_9_WAR_opencpsportlet_ .portlet-topper h1 {
	text-align: center; 
	font-family: 'Roboto-Bold'; 
	font-weight: normal;
}

/*--- Menu Tabs ---*/
.opencps-theme.ux  ul.nav-tabs {
	border-bottom: 2px solid #0174CD;
}
.opencps-theme.ux  ul.nav-tabs li {
	margin-bottom: 0
}
.opencps-theme.ux  ul.nav-tabs li a {
	border-color: transparent;
    background-color: #05253E;
    margin-right: 5px;
    padding: 5px 10px;
    color: white;
}
.opencps-theme.ux  ul.nav-tabs li.active a, 
.opencps-theme.ux  ul.nav-tabs li.active a:focus, 
.opencps-theme.ux  ul.nav-tabs li.active a:hover, 
.opencps-theme.ux  ul.nav-tabs li:hover a {
	border: 1px solid #0074cd;
	position: relative;
	background-color: #0074cd;
    color: white;
}

/*---------- PortletID 85 ----------*/

/*--- Portlet ---*/
.opencps-theme .portlet-boundary_85_ .portlet {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	border-radius: 4px;
	margin-bottom: 30px;
}
/* Header */
.opencps-theme .portlet-boundary_85_ .portlet header {
	border-bottom: 1px solid #e1e1e1;
	height: 50px;
	padding-left: 25px;
}
.opencps-theme .portlet-boundary_85_ .portlet header h1 {
	line-height: 50px;
	font-size: 16px;
	font-family: 'Roboto-Bold';
	text-transform: uppercase;
	margin: 0;
}
.opencps-theme .portlet-boundary_85_ .portlet header h1:before {
	content: "\f085";
	font-family: FontAwesome;
	margin-right: 10px;
	color: #0f97ff;
}
/* Content */
.opencps-theme .portlet-boundary_85_ .portlet .portlet-content {
	padding: 0;
}
.opencps-theme .portlet-boundary_85_ .portlet .portlet-body {
	background-color: transparent;
}
.opencps-theme .portlet-boundary_85_ .portlet .portlet-body .sitemap-class {
	margin: 0;
}
.opencps-theme .portlet-boundary_85_ .portlet .portlet-body .sitemap-class li {
	padding: 10px 20px;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.opencps-theme .portlet-boundary_85_ .portlet .portlet-body .sitemap-class li a {
	padding-right: 10px;
}
.opencps-theme .portlet-boundary_85_ .portlet .portlet-body .sitemap-class li a.current{
	color: #0f97ff !important;
	font-family: 'Roboto-Bold';
}
.opencps-theme .portlet-boundary_85_ .portlet .portlet-body .sitemap-class li a.current:after {
	content: "\f054";
	position: absolute;
	right: 20px;
	font-family: FontAwesome;
	color: #0f97ff;
	font-size: 12px;
	top: 11px;
}

/*---------- PortletID 73-Breadcrumb ----------*/

.portlet-boundary_73_ .portlet-body ul {
	background-color: transparent;
	border-bottom: 1px solid #555;
	padding: 5px 10px;
	font-size: 14px;
}
 .portlet-boundary_73_ .portlet-body ul li .divider {
 	color: #555;
 }
 .portlet-boundary_73_ .portlet-body ul li:last-child .divider {
 	display: none;
 }
 
/*---------- CSS th table ----------*/

.opencps-theme .searchcontainer-content table {
	border-radius: 0;
	border-width: 1px 0;
}
.opencps-theme .searchcontainer-content table th {
	border-radius: 0;
}
.opencps-theme .searchcontainer-content table th:first-child {
	border-left: 0;
}

/*---------- Tree view ----------*/
ul.tree-root-container > li:first-child > div.tree-node-content > span {
  font-size: 18px;
  text-transform: uppercase;
}
.openCPSTree > ul {margin:0}
.openCPSTree ul li {border-bottom: 1px solid #ccc; position: relative;}
.openCPSTree > ul > li {padding-bottom: 0; border-bottom: 0; padding-top: 15px;}
.openCPSTree > ul > li > div {border-bottom: 1px solid #ccc;padding: 0 40px 10px 20px;display: inherit;position: relative;}

.openCPSTree > ul > li:before {content: ""}
.openCPSTree > ul > li ul {margin: 0}
.openCPSTree li.current {
  font-family: "Roboto-Bold";
  color: rgb(255, 255, 255);
}
.openCPSTree li.current > div > i.icon-ok-sign {opacity: 1; color: #444}
.openCPSTree li .badge {
	font-weight: normal;
	position: absolute;
    top: 0;
    right: 0;
}
.openCPSTree .tree-node-leaf.tree-node-radio {
     margin-left: 0;
     display: block;
	  padding: 10px 30px 10px 45px;
}
.openCPSTree li.current .badge{
  background-color: #444;
}
.openCPSTree li .badge{
  background-color: #0090FF;
  margin: 10px 10px;
}
.tree-node-leaf {
      margin-left: 15px;
      display: inline-block;
}
.openCPSTree > ul > li .tree-node li  {border-bottom: 0}
.openCPSTree > ul > li .tree-node li:last-child  {padding-bottom: 0}
.openCPSTree > ul > li ul li > div {
  padding: 10px 15px;
}
.openCPSTree > ul > li ul li.current > div {
  background-color: #0090ff;
  padding: 10px 30px;
}
.openCPSTree > ul > li ul li.current ul {
  color: #444;
  font-family: 'Roboto-Regular'
}

.tree-node-content .tree-hitarea:after {
    content: "";
    position: absolute;
    padding: 18px;
    top: -15px;
    left: -15px;
}

.tree-node-content .tree-hitarea {
    color: #999;
    font-size: 10px;
    padding-right: 6px;
    position: relative;
}

.tree-node-content .tree-hitarea:before {
    font-size: 16px;
}

.openCPSTree.scrollable > ul > li > ul {
    overflow-y: auto;
    height: 50vh;
}

.openCPSTree li.current > .tree-node-content > .tree-hitarea {
    color: #fff;
}
.openCPSTree>ul>li>ul>li ul li div {padding-left: 40px}

/*----- Icon download -----*/
.opencps-theme.ux .opencps-form-navigator-container .opencps.dossiermgt.dossier-part-row .dossier-part-control .opencps.dossiermgt.part-file-ctr.download-dossier-file {
    background: transparent url("../images/custom/icon_download.png") no-repeat scroll left center;
}



.openCPSTree .tree-node-content:hover span {
	color: #2EA4FF;
	text-decoration: underline;
}
.openCPSTree .icon-folder-close {
	display: none;
}
.openCPSTree > ul > li > div > .icon-folder-close {display: inline-block;}
.openCPSTree > ul > li > div > .icon-folder-open:before, 
.openCPSTree > ul > li > div > .icon-folder-close:before {
	content: "";
	background: url("../images/custom/icon_dossierpart_blue.png") 0 0 no-repeat;
	width: 14px;
	height: 16px;
}

 
.openCPSTree .tree-hitarea.icon-plus:before {
	content: "\f0da";
	color: #2EA4FF;
}
.openCPSTree .tree-hitarea.icon-minus:before {
	content: "\f0d7";
	color: #2EA4FF;
}
.openCPSTree .icon-file:before {
	content: "\f0f6";
}

.ui-helper-hidden-accessible{
	display: none !important;
}