#set ($layoutService = $serviceLocator.findService('com.liferay.portal.service.LayoutLocalService'))
#set ($publicLayoutPlid = $layoutService.getDefaultPlid($layout.getGroupId(), false)) ##true for private pages and false for public
#set ($publicLayout = $layoutService.getLayout($publicLayoutPlid))
#set ($publicLayouts = $layoutService.getLayouts($layout.getGroupId(), false, 0))
	
<nav class="$nav_css_class top-menu public" id="navigation" role="navigation">

	#if (!$is_signed_in)
		<ul>
			#foreach ($nav_item in $publicLayouts)

				#if (!$nav_item.isHidden())
					#if ($nav_item.isSelected())
		                <li class="selected">
		            #else
		                <li>
		            #end
						<a aria-labelledby="layout_$nav_item.getLayoutId()" href="/web/guest$nav_item.getFriendlyURL()" $nav_item_attr_has_popup $nav_item.getTarget() role="menuitem"><span>$nav_item.getName($locale)</span></a>
		
					</li>
				#end
			#end
		</ul>
	#else
		#if($layout.isPublicLayout())
			<ul>
				<li>
					<a href="/group/guest">#language("back-to-backoffice")</a>
				</li>
			</ul>
		#else
			<ul aria-label="#language ("site-pages")" role="menubar">
			    #foreach ($nav_item in $publicLayouts)

				
				#if (!$nav_item.isHidden())
					 #if ($nav_item.isSelected())
		                <li class="selected">
		            #else
		                <li>
		            #end
						<a aria-labelledby="layout_$nav_item.getLayoutId()" href="/web/guest$nav_item.getFriendlyURL()" $nav_item_attr_has_popup $nav_item.getTarget() role="menuitem"><span>$nav_item.getName($locale)</span></a>
		
					</li>
				#end
			#end
		</ul>
		#end
	#end
</nav>
