<!DOCTYPE html>

#parse ($init)


<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	#*<meta content="initial-scale=1.0, width=device-width" name="viewport" />*#

	$theme.include($top_head_include)
	
	<link rel="shortcut icon" type="image/png" href="$images_folder/custom/favicon.png"/>
	
	<script type="text/javascript" src="$javascript_folder/bootstrap.min.js" ></script>

	<script type="text/javascript">
        function handleChange() {
            var arr = document.getElementById('menu1') ;
            window.location = arr.value ;
        } 
    </script>
</head>

<body class="$css_class opencps-theme ux">

	$theme.include($body_top_include)
	
	#if ($is_signed_in && $permissionChecker.isOmniadmin())
		#dockbar()
	#end
	
	#if(!$is_signed_in) 
		<header id="banner" role="banner" class="opencps-header-wrapper guest">
			<div class="header container align-middle">
	            <a href="$site_default_url" title="#language_format ("go-to-x", [$site_name])" class="logo"></a>
	            <div class="right-panel">
		            <div class="hotline">
		                #language ("hotline-key")<br/><span>1900 0311</span>
		            </div>
		            <a href="$sign_in_url" class="signin">#language ("login-key")</a>
		            <a href="$register_url" class="register">#language ("register-key")</a>
	            </div>
			</div>
		</header>
		<div class="nav-container">
			#parse ("$full_templates_path/navigation_public_page.vm")
		</div>
	#else 
		<header id="banner" role="banner" class="opencps-header-wrapper member">
			<div class="header container align-middle">
	            <a href="" class="logo"></a>
	            <div class="right-panel">
		            <div class="hotline">
		                #language ("hotline-key")<br/><span>1900 0311</span>
		            </div>
				</div>
				<div class="nav-container-small">
					#if ($has_navigation || $is_signed_in)
						#parse ("$full_templates_path/navigation_public_page.vm")
					#end
				</div>
			</div>
			
		</header>
		<div class="nav-container">
			#if ($has_navigation || $is_signed_in)
				#parse ("$full_templates_path/navigation_private_page.vm")
			#end
		</div>
	#end
	
	<article id="wrapper" class="container">	
		<div id="content">
	
			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()
	
				$portletDisplay.setTitle($the_title)
	
				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
		</div>
	</article>
	
	<footer>
		<div class="content">
            <div class="span3 logo">
                <p>Copyright © 2016 - OpenCPS v1.6</p>
            </div>
            <div class="span2">
                <p class="title">#language ("danhmuc-key")</p>
                #parse ("$full_templates_path/navigation_footer_public_page.vm")

            </div>
            <div class="span2">
                <p class="title">#language ("conduct-key")</p>
                <ul>
                    <li><a href="/-ang-ky-tai-khoan">#language ("account-register-key")</a></li>
                    <li><a href="/-ang-nhap-he-thong">#language ("system-login-key")</a></li>
                    <li><a href="/nop-ho-so-truc-tuyen">#language ("nop-hstt-key")</a></li>
                    <li><a href="/home">#language ("tracuu-ketqua-key")</a></li>
                    <li><a href="/can-bo-xu-ly-ho-so">#language ("cbxl-nophs-key")</a></li>
                </ul>
            </div>
            <div class="span2">
                <p class="title">#language ("lienhehotro-key")</p>
                <p class="address">#language ("nhavapa-key")<br/>#language ("tonthatthuyet-street-key")</p>
                <p class="mail">hotro@opencps.vn</p>
                <p class="phone">1900 0311</p>
            </div>
            <div class="span3">
                <p class="title">#language ("lienketwebsite-key")</p>
                <div class="select">
                    <select onchange="location = this.options[this.selectedIndex].value;">
                        <option>#language ("chon-lienketwebsite-key")</option>
                        <option value="http://opencps.org.vn/">Trang Cộng đồng OpenCPS</option>
                        <option value="http://fds.vn/">Cty cổ phần phát triển và dịch vụ nguồn mở FDS</option>
                        <option value="http://netnam.com	">Cty cổ phần NETNAM</option>
                        <option value="http://www.iwayvietnam.com/">Cty cổ phần giải pháp thông tin iWay</option>
                        <option value="http://www.cmcsoft.com/">Cty cổ phần phần mềm CMC</option>
                    </select>
                </div>
            </div>
        </div>
	</footer>

	$theme.include($body_bottom_include)
	
	$theme.include($bottom_include)

</body>

</html>
