<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
	
	<link rel="shortcut icon" type="image/png" href="$images_folder/custom/favicon.png"/>
	
	<script type="text/javascript" src="$javascript_folder/bootstrap.js" ></script>
	<script type="text/javascript" src="$javascript_folder/jquery-1.11.3.js" ></script>
</head>

<body class="$css_class opencps-theme">

	$theme.include($body_top_include)
	
	#if ($is_signed_in && $permissionChecker.isOmniadmin())
		#dockbar()
	#end
	
	#if(!$is_signed_in) 
		<header id="banner" role="banner" class="mHeader_1">
			<div class="header container align-middle">
	            <a href="" class="logo"></a>
	            <div class="hotline">
	                #language ("hotline-key")<br/><span>1900 0311</span>
	            </div>
	            <a href="$sign_in_url" class="btn-dn">#language ("login-key")</a>
	            <a href="$register_url" class="btn-dk">#language ("register-key")</a>
			</div>
		</header>
		
		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
	#else 
		<header id="banner" role="banner" class="mHeader_2">
			<div class="header container align-middle">
	            <a href="" class="logo"></a>
	            <div class="hotline">
	                #language ("hotline-key")<br/><span>1900 0311</span>
	            </div>
	            <div class="log-out">
					<span>#language ("welcome-key") $user_name</span>
					<a href="$sign_out_url" class="btn-dn">#language ("logout-key")</a>
				</div>
			</div>
		
			#if ($has_navigation || $is_signed_in)
				#parse ("$full_templates_path/navigation.vm")
			#end
		</header>
		#*#parse ("$full_templates_path/navigation_custom_role.vm") *#
		
		#*add list private item here *#
		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation_custom_role.vm")
		#end
	#end
	
	<article id="wrapper" class="container">	
		<div id="content">
			#*<nav id="breadcrumbs">#breadcrumbs()</nav>*#
	
			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()
	
				$portletDisplay.setTitle($the_title)
	
				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
		</div>
	</article>
	
	<footer>
		<div class="footer">
            <div class="logo">
                <p>Copyright © 2016 - OpenCPS v1.3</p>
            </div>
            <div class="danhmuc">
                <p class="title">#language ("danhmuc-key")</p>
                <ul>
                    <li><a href="">#language ("home-page-key")</a></li>
                    <li><a href="">#language ("notifier-key")</a></li>
                    <li><a href="">#language ("van-ban-phap-luat-key")</a></li>
                    <li><a href="">#language ("serviceinfo-key")</a></li>
                </ul>
            </div>
            <div class="huongdan">
                <p class="title">#language ("conduct-key")</p>
                <ul>
                    <li><a href="">#language ("account-register-key")</a></li>
                    <li><a href="">#language ("system-login-key")</a></li>
                    <li><a href="">#language ("nop-hstt-key")</a></li>
                    <li><a href="">#language ("tracuu-ketqua-key")</a></li>
                    <li><a href="">#language ("cbxl-nophs-key")</a></li>
                </ul>
            </div>
            <div class="lienhehotro">
                <p class="title">#language ("lienhehotro-key")</p>
                <p class="diachi">#language ("nhavapa-key")<br/>#language ("tonthatthuyet-street-key")</p>
                <p class="mail">opencps@gmail.com</p>
                <p class="phone">1900 0311</p>
            </div>
            <div class="lienketwebsite">
                <p class="title">#language ("lienketwebsite-key")</p>
                <div class="select">
                    <select>
                        <option>#language ("chon-lienketwebsite-key")</option>
                    </select>
                </div>
            </div>
        </div>
	</footer>


	$theme.include($body_bottom_include)
	
	$theme.include($bottom_include)

</body>

</html>