/DossierFilePersistenceImpl.java
/DossierLogPersistenceImpl.java
/DossierPartPersistenceImpl.java
/DossierPersistenceImpl.java
/DossierStatusPersistenceImpl.java
/DossierTemplatePersistenceImpl.java
/FileGroupPersistenceImpl.java
/ServiceConfigPersistenceImpl.java
