.opencps.dossiermgt.dossier-part-control {
    float: right;
    width: 100%;
}


.opencps.dossiermgt.dossier-part {
    display: block;
    line-height: 28px;
}

.dossier-file-counter {
    background-color: green;
    border: 1px solid green;
    border-radius: 100%;
    display: block;
    height: 16px;
    text-align: center;
    width: 16px;
}

.counter-value {
    color: white;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
}

.opencps.dossiermgt.part-file-ctr.remove-file {
    color: red;
    font-size: 22px;
}

