.bottom-horizontal-line{
	border-bottom: 1px solid #ccc;
	clear: both;
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
}

.input90{
	width : 90% !important;
}
.input95{
	width : 95% !important;
}
.input100{
	width : 100% !important;
}


.ocps-editor {
	margin-bottom: 10px;
	height: 50px;
}