.bottom-horizontal-line{
	border-bottom: 1px solid #ccc;
	clear: both;
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
}

.input90{
	width : 90% !important;
}
.input95{
	width : 95% !important;
}
.input100{
	width : 100% !important;
}

.input50{
	width : 50% !important;
}

.input60{
	width : 60% !important;
}

.input30{
	width : 30% !important;
}

.input30_1 select {
	width: 150px !important;
}


.ocps-editor {
	margin-bottom: 10px;
	height: 50px;
}

.cke_contents {
	height: 150px !important;
}

.opcps-rows {
	margin-bottom: 15px;
}

.txtarea-medium {
	width : 95% !important;
}