.input100{
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 30px;
	max-width: 100% !important;
	width: 100%;
}


.input30_1 select {
	width: 150px !important;
}


.ocps-editor {
	margin-bottom: 10px;
	height: 50px;
}

.cke_contents {
	height: 150px !important;
}

.opcps-rows {
	margin-bottom: 15px;
}

.txtarea-medium {
	width : 95% !important;
}

.opencps-icon{
	display: block;
	background-image: url("/sprite/html/themes/classic/images/common/_sprite.png");
	background-repeat: no-repeat;
	height: 16px;
    width: 16px
}
.opencps-icon.checked{
    background-position: 50% -336px;
}

.opencps-icon.removed{
    background-position: 50% -368px;
}

.opencps-icon.employees{
    background-position: 50% -1589px;
}

.opencps-icon.not-employee{
    background-position: 50% -769px;
}
.lookup-result table {
	width: 100%;
}

.lookup-result tr td {
	padding: 5px;
	border: 1px solid #cbcbcb;
}

#waiting .badge,
#NLKTTT .badge,
#NLHDCHS .badge,
#NLDD .badge,
#paying .badge,
#done .badge,
#HSBTC .badge,
#canceled .badge{
/* 	background-color: #e1576b !important;  */
}

.row-icon-stt-new {
    width: auto;
    text-align: right;
    white-space: nowrap;
}