@CHARSET "UTF-8";

/* NAVS */

.noneheader-theme .navbar.navbar-default.navbar-fixed-top{
	padding-right: 12%;
}
.sidebar-nav .nav.nav-list{
	margin-bottom: 5px !important;
/* 	border-bottom: 1px dotted #ddd !important; */
/* 	border-radius: 0px; */
}
/* ---------- Wrapper ---------- */
.noneheader-theme #wrapper {
    padding: 2em 3em 0 !important;
    position: relative;
}

/* BUTTON */
.btn-datasample{
	padding: 0px 15px !important;
}
.sidebar-nav .nav.nav-list.accordion-group{
	background: transparent !important;
	width: 100%;
}
.aui .label{
	padding: 5px 10px 5px 10px !important;
	margin-top: -2px;
}
/*INPUT*/
.aui .form-control, .aui .input-block-level, .aui input.field[type="text"], .aui input.field[type="password"], .aui .aui-field-select{
	height: auto !important;
}
.alpaca-container-item input{
	border-radius: 0 !important;
}