body.mBody {
	background-color: #e9ebee;
	font-family: 'Roboto-Regular';
	padding-bottom: 20px;
}
.home-theme.container {
	padding: 0 !important;
}
.home-theme {
	background-color: white;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

/*--------------------
		Header
 --------------------*/
 
 /*----- Home -----*/
 #banner {
	margin-bottom: 25px;
 }
#banner .header {
	height: 105px;
	background: url("../images/bg_header.jpg") 0 0 no-repeat;
	background-size: cover;
}
#banner .logo {
	width: 543px;
	height: 88px;
	background: url("../images/logo.png") 0 0 no-repeat;
	background-size: cover;
	margin-top: 11px;
}



/*--------------------
		Menu
--------------------*/
 
/*----- Home -----*/
.home-theme nav {
	height: 42px;
}
.home-theme nav ul {
	margin: auto;
	padding: 0;
	width: 1170px;
	overflow: hidden;
	background-image: url("../images/bg_menu.jpg");
}
.home-theme nav ul li {
	float: left;
	list-style: none;
}
.home-theme nav ul li a {
	padding: 0 20px;
	line-height: 42px;
	color: white;
	font-family: 'Roboto-Bold';
	display: block;
}
.home-theme nav ul li.selected a, .home-theme nav ul li:hover a {
	text-decoration: none;
	color: white;
	background-color: transparent;
}

/*----- Pages -----*/
.opencps-theme.page-theme nav {
    height: auto;
    background-color: #06537c;
    font-family: 'Roboto-Bold';
}
.opencps-theme.page-theme nav ul {
    overflow: hidden;
    margin-bottom: 0;
}
.opencps-theme.page-theme nav ul > li {
    float: left;
}
.opencps-theme.page-theme nav ul > li > a {
    line-height: 43px;
    padding: 13px 30px;
    color: white;
}
.opencps-theme.page-theme nav ul .floatright {
	float: right;
}
.opencps-theme.page-theme nav ul > li.selected > a, .opencps-theme.page-theme nav ul > li:hover > a {
	background-color: #007db7;
	color: white;
	text-decoration: none;
}
.opencps-theme.page-theme.ux nav .logout{
    display: inline-block;
    padding: 11px 0px 0px 0px;
}
.opencps-theme.page-theme.ux nav .logout a{
      color: white;
}
.opencps-theme.page-theme.ux nav .logout a:before {
    content: "\f08b";
    font-family: FontAwesome;
    margin-right: 5px;
}
.opencps-theme.page-theme nav ul > li.account-info > a {
	text-indent: -9999px;
	background: transparent url("../images/welcome_h.png") no-repeat scroll left center;
	height: 18px;
	cursor: pointer;
}
.opencps-theme.page-theme nav ul > li.account-info > a:hover{
	text-indent: -9999px;
	background: transparent url("../images/welcome_new.png") no-repeat scroll left center;
	height: 18px;
	cursor: pointer;
}



/*--------------------
		Content
--------------------*/
.Layout_BCT_Home > div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.Layout_BCT_Home > div:first-child {
	margin-bottom: 30px;
}
.Layout_BCT_Home div[id^="column-"] > div, 
.Layout_BCT_Home div[id^="column-"] > div > div,
.Layout_BCT_Home div[id^="column-"] section {
	height: 100%;
}

.home-theme .portlet {
	border-radius: 7px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.home-theme .portlet header {
	height: 50px;
    border-bottom: 5px solid #1977d2;
    background-color: white;
    border-radius: 7px 7px 0 0;
}
.home-theme .portlet header img {
	display: none;
}
.home-theme .portlet header h1 {
	font-size: 18px;
    margin: 0;
    line-height: 50px;
    color: white;
    padding: 0 20px;
    background-color: #1977d2;
    display: inline-block;
    border-radius: 7px 0 0 0;
    position: relative;
}
.home-theme .portlet header h1:before {
	content: "";
	position: absolute;
	top: 0;
	right: -25px;
	width: 0;
	height: 0;
	border-bottom: 45px solid #1977d2;
	border-right: 25px solid transparent;
}
.home-theme .portlet header h1 span {
	overflow: visible;
}
.home-theme .portlet .portlet-content {
	padding: 15px 15px 5px;
}

/*----- Portlet VBPL -----*/
.vbpl-box p {
	font-family: 'Roboto-Medium';
}
.vbpl-box .carousel {
    padding: 0 0 25px;
    margin: 0;
}
.vbpl-box .carousel-indicators {
    bottom: 2px;
    left: 20px;
    top: auto;
    right: auto;
	width: auto;
	margin: 0;
}
.vbpl-box .carousel-indicators li {
	background-color: #999;
}
.vbpl-box .carousel-indicators li.active {
	background-color: #1c8bd5;
}
.vbpl-box .carousel-control {
    border: 0;
    background: transparent;
    font-size: 22px;
    opacity: 1;
    width: auto;
    height: auto;
    line-height: 22px;
    top: auto;
    bottom: 10px;
    color: #666;
    text-shadow: none;
}
.vbpl-box .carousel-control.right {
    right: auto;
    left: 80px;
}
.vbpl-box .carousel-control:hover {
	color: #666;
}
.vbpl-box .carousel p {
    font-size: 14px;
}
.vbpl-box .carousel .carousel-control span {
    font-size: 13px;
    opacity: 1;
}

/*----- Portlet Chart -----*/
.chart p {
	color: #1977d2;
	font-family: 'Roboto-Medium';
}
.chart .badge {
	background-color: #1977d2;
	float: right;
    padding: 3px 12px;
    line-height: normal;
}

/*----- Portlet Contact -----*/
.contact .title {
	font-size: 15px;
	font-family: 'Roboto-Bold';
	color: #1977d2;
}
.contact i {
	color: #1977d2;
	position: absolute;
	top: 50%;
	left: 2%;
	-webkit-transform: translateX(-50%);
	transform: translate(-50%, -50%);
}
.contact p:not(:first-child) {
	position: relative;
	padding-left: 20px;
}

/*----- Portlet News -----*/
.Layout_BCT_Home #column-1 .portlet-content {
	padding: 15px 20px 5px 0;
}
.news {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.news .img-mac {
	display: block;
    background: url("../images/img-mac.png") 0 0 no-repeat;
    background-size: 100% auto;
    background-position: -20px 0;
}
.news .col-sm-8 {
	text-align: justify;
	padding-left: 0;
}
.news h3 {
	font-size: 16px;
	font-family: 'Roboto-Bold';
	margin: 0 0 10px;
}
.news span {
	font-size: 12px;
	display: block;
	margin-bottom: 25px;
}
.news a.detail {
	text-decoration: underline;
	color: #1c87e3;
	float: right;
	margin-bottom: 15px;
	padding-right: 15px;
	position: relative;
}
.news a.detail:before {
	content: "\f101";
	font-family: FontAwesome;
}


 
/*--------------------
		Footer
--------------------*/
footer {
	text-align: center;
}
footer p {
	font-family: 'Roboto-Bold';
}
footer span {
 	line-height: 60px;
}
footer .blue {
	color: #1977d2;
}



/*--------------------
		Login
--------------------*/
.ux-sign-in-wrapper {}
.ux-sign-in-wrapper .advance-signin {
	display: none;
}



/*--------------------
		Override
--------------------*/