<!DOCTYPE html>

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
</head>

<body class="$css_class opencps-theme ux mBody page-theme">
	
	$theme.include($body_top_include)
	
	#if ($is_signed_in && $permissionChecker.isOmniadmin())
		#dockbar()
	#end

<div class="container moit-theme">
	<header id="banner" role="banner">
		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation_public_page.vm")
		#end
		
		<div class="header container">
			<a class="logo" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])"></a>
		</div>

		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation_private_page.vm")
		#end
	</header>
	
	<article id="wrapper">	
		<div id="content">
			<div class="container">
				#*<nav id="breadcrumbs">#breadcrumbs()</nav>*#
		
				#if ($selectable)
					$theme.include($content_include)
				#else
					$portletDisplay.recycle()
		
					$portletDisplay.setTitle($the_title)
		
					$theme.wrapPortlet("portlet.vm", $content_include)
				#end
			</div>
		</div>
	</article>
	
	<footer id="footer" role="contentinfo">
		<div class="footer">
			<div class="container">
				<p><span>#language ("portal-bct-key")</span></p>
				<span><b>#language ("location-key"):</b> #language ("address-key")</span>
				<span><b>#language ("phone-number-key"):</b> (04) 22202222,<b>Fax:</b> (04) 22202525</span>
				<span><b>Email:</b> bbt@moit.gov.vn</span>
				<p><i class="fa fa-copyright"></i> #language ("copyright-bct-key")</p>
			</div>
		</div>
	</footer>
</div>

	$theme.include($body_bottom_include)
	
	$theme.include($bottom_include)

</body>

</html>